﻿@using Abundance_Nk.Web.Models
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>FPNO</title>
    <!-- Favicon-->
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">
    @*@Styles.Render("~/Content/css")*@
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    @*<link href="~/Content/font.css" rel="stylesheet" />
        <link href="~/Content/icon.css" rel="stylesheet" />*@
    <link href="~/Content/material/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/material/css/waves.css" rel="stylesheet" />
    <link href="~/Content/material/css/animate.css" rel="stylesheet" />
    <link href="~/Content/material/css/morris.css" rel="stylesheet" />
    <link href="~/Content/material/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/material/css/style.css" rel="stylesheet" />
    <link href="~/Content/material/css/all-themes.css" rel="stylesheet" />
    <link href="~/Content/material/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/material/css/waitMe.css" rel="stylesheet" />
    <link href="~/Content/material/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/material/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/material/css/bootstrap-material-datetimepicker.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

    <style>
        .form-control {
            border: 1px solid #ccc !important;
        }
    </style>

</head>
<body class="theme-blue">
    <!-- Page Loader -->
    @*<div class="page-loader-wrapper">
        <div class="loader">
            <div><img src="~/Content/images/loading.gif" width="200px" height="200px"></div>

            <p>Please wait...</p>
        </div>
    </div>*@
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->

    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="#">The Federal Polytechnic Nekede</a>
            </div>
        </div>
    </nav>

    <!-- #Top Bar -->

    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/Content/Images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello</div>
                    <div class="email"> @User.Identity.GetUserName() </div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="@Url.Action("ChangePassword", "Account", new{ area = "Security"})"><i class="material-icons">person</i>Change Password</a></li>

                            @*@using (Html.BeginForm("LogOff", "Account", new { Area = "Security" }, FormMethod.Post, new { id = "logoutForm"}))
                                {
                                    @Html.AntiForgeryToken()

                                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="material-icons">input</i>Log Off</a></li>
                                }*@

                            <li>
                                <a href="/Admin/Security/Account/LogOff" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"><i class="material-icons">input</i>Log Off</a>
                                <form id="logout-form" action="@Url.Action("LogOff", "Account", new{ area = "Security"})" method="POST" style="display: none;"></form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="http://www.ndapplications.fpno.edu.ng/">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>


                    @if (User.Identity.IsAuthenticated)
                    {
                        string role = Menu.GetUserRole(User.Identity.Name);
                        List<Abundance_Nk.Model.Model.Menu> menuList = Menu.GetMenuList(role);
                        if (menuList != null && menuList.Count > 0)
                        {
                            List<string> menuGroups = menuList.Select(m => m.MenuGroup.Name).Distinct().ToList();

                            for (int i = 0; i < menuGroups.Count; i++)
                            {
                                string currentMenuGroup = menuGroups[i];
                                List<Abundance_Nk.Model.Model.Menu> menuListForGroup = menuList.Where(m => m.MenuGroup.Name == currentMenuGroup).OrderBy(r => r.DisplayName).ToList();
                                string scriptId = "#demo" + (i).ToString();
                                string ulId = "demo" + (i).ToString();

                                <li>
                                    <a href="javascript:void(0);" class="menu-toggle">
                                        <i class="material-icons">widgets</i>
                                        <span>@currentMenuGroup</span>
                                    </a>
                                    <ul class="ml-menu">
                                        @for (int j = 0; j < menuListForGroup.Count; j++)
                                        {
                                            Abundance_Nk.Model.Model.Menu currentMenu = menuListForGroup[j];
                                            <li>
                                                @Html.ActionLink(currentMenu.DisplayName, currentMenu.Action, currentMenu.Controller, new { Area = currentMenu.Area }, null)
                                            </li>
                                        }
                                    </ul>
                                </li>

                            }
                        }
                    }


                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; @DateTime.Now.Year <a href="javascript:void(0);">FPNO</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>

@*@Scripts.Render("~/bundles/jquery")*@

@*<script src="~/Scripts/jquery-2.1.3.js"></script>*@

<script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Content/material/js/bootstrap-select.js"></script>
    <script src="~/Content/material/js/jquery.min.js"></script>
    <script src="~/Content/material/js/bootstrap.js"></script>
    <script src="~/Content/material/js/jquery.slimscroll.js"></script>
    <script src="~/Content/material/js/waves.js"></script>
    <script src="~/Content/material/js/jquery.countTo.js"></script>
    <script src="~/Content/material/js/raphael.min.js"></script>
    <script src="~/Content/material/js/morris.js"></script>
    <script src="~/Content/material/js/Chart.bundle.js"></script>
<script src="~/Content/material/js/jquery.sparkline.js"></script>

<script src="~/Content/material/js/jquery.dataTables.js"></script>
<script src="~/Content/material/js/dataTables.bootstrap.js"></script>

    <script src="~/Scripts/DataTables/Buttons-1.3.1/js/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTables/Buttons-1.3.1/js/buttons.flash.min.js"></script>
    <script src="~/Scripts/DataTables/pdfmake-0.1.27/build/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTables/pdfmake-0.1.27/build/vfs_fonts.js"></script>
    <script src="~/Scripts/DataTables/Buttons-1.3.1/js/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables/Buttons-1.3.1/js/buttons.print.min.js"></script>


<script src="~/Content/material/js/admin.js"></script>
    <script src="~/Content/material/js/jquery-datatable.js"></script>
    <script src="~/Content/material/js/demo.js"></script>
    <script src="~/Content/material/js/waitMe.js"></script>
    <script src="~/Content/material/js/basic.js"></script>
    <script src="~/Content/material/js/colored.js"></script>
    @*<script src="~/Scripts/sign-up.js"></script>*@
    <script src="~/Content/material/js/moment.js"></script>
    <script src="~/Content/material/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>

    

    <script type="text/javascript">

        $(document).ready(function () {

            //var selectList;

            //selectList = $("select").prop('class', 'selectpicker show-tick form-control');
            //selectList = $("select").attr('data-live-search', true);
            $('input[type="submit"]').attr('class', 'btn btn-primary');
            $('input[type="button"]').attr('class', 'btn btn-primary');
            $('button').attr('class', 'btn btn-primary');
            //$('.form-group').addClass('col-sx-12 col-md-6 col-sm-6');

        });

    </script>

@*<script src="~/Content/material/js/adminLayout.js"></script>*@

@RenderSection("Scripts", required: false)

</body>
</html>


