﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.StudentCourseRegistrationViewModel
@{
    ViewBag.Title = "EditConfirmedPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Edit Confirmed Payment</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">

                    @using (Html.BeginForm("EditConfirmedPayment", "StudentCourseRegistration", FormMethod.Post))
                    {
                            @Html.HiddenFor(model=>model.PaymentEtranzact.Payment.Payment.Id)   
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Amount, "Amount", new {@class = "control-label custom-text-black"})
                                    @Html.TextBoxFor(model => model.Amount, new {@class = "form-control", @required = "required"})
                                    @Html.ValidationMessageFor(model => model.Amount, null, new {@class = "text-danger"})
                                </div>
                            </div>  
                            </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Update" /> 
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>
