﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.StudentCourseRegistrationViewModel
@{
    ViewBag.Title = "SearchAndMergeDuplicateResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>

<script type="text/javascript">     

        function MergeResult() {
            $("#loading").show();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("MergeResult", "StudentCourseRegistration")', // Calling json method
                dataType: 'json',
                //data: { id: studentLevelId },
                success: function (result) {
                    if (result = "Success") {
                        alert('Operation Successful!');
                        window.location.reload(true);
                    }
                },
                error: function (ex) {
                    alert('Operation Failed.' + ex);
                }
            });

            return false;
        }

</script>

<div>
    @if (TempData["Message"] != null)
    {
        @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
    }
</div>



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size:x-large">Search And Merge Duplicate Result</div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("SearchAndMergeDuplicateResult", "StudentCourseRegistration", new { area = "Admin" }, FormMethod.Post))
                {
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Student.MatricNumber, "Name/Matric Number:", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Student.MatricNumber, new { @class = "form-control", @placeholder = "Enter Matric Number", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Student.MatricNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Search" class="btn btn-success mr5" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

@if (Model != null && Model.StudentLevelList != null && Model.StudentLevelList.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-size: large">Duplicates</div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div>

                    @for (int i = 0; i < Model.StudentLevelList.Count; i++)
                    {
                        <tbody>
                        <tr>
                            <td>@Model.StudentLevelList[i].Student.FullName</td>
                            <td>@Model.StudentLevelList[i].Student.MatricNumber</td>
                            <td>@Model.StudentLevelList[i].Programme.ShortName</td>
                            <td>@Model.StudentLevelList[i].Department.Name</td>
                            <td>@Model.StudentLevelList[i].Level.Name</td>
                            <td>@Model.StudentLevelList[i].Session.Name</td>

                        </tr>
                        </tbody>

                        <br/>

                        <button class="btn btn-success mr5" onclick="MergeResult()">Merge</button>
                    }

                </div>
            </div>
        </div>
    </div>
}
   
                        
                
