﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <link href="~/Content/pretty-menu.css" rel="stylesheet" />
    <script src="~/Scripts/prettify.js"></script>
    <script src="~/Scripts/custom.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-override.css" rel="stylesheet" />
    <link href="~/Content/style.default.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />


</head>

<body>
    <div class="row">
        <div class="col-md-3">
            <ul class="leftmenu">
                <li>
                    <a href="#gettingstarted">Basic Setup</a>
                    <ul class="children">
                        <li id="lnkPersonType">@Html.ActionLink("Person Type", "Index", "PersonType", new { Area = "Admin" }, null)</li>
                        <li id="lnkStudentType">@Html.ActionLink("Student Type", "Index", "StudentType", new { Area = "Admin" }, null)</li>
                        <li id="lnkReligion">@Html.ActionLink("Religion", "Index", "Religion", new { Area = "Admin" }, null)</li>
                        <li id="lnkRelationship">@Html.ActionLink("Relationship", "Index", "Relationship", new { Area = "Admin" }, null)</li>
                        <li id="lnkFeeType">@Html.ActionLink("Fee Type", "Index", "FeeType", new { Area = "Admin" }, null)</li>
                        <li id="lnkPaymentType">@Html.ActionLink("Payment Type", "Index", "PaymentType", new { Area = "Admin" }, null)</li>
                        <li id="lnkPaymentMode">@Html.ActionLink("Payment Mode", "Index", "PaymentMode", new { Area = "Admin" }, null)</li>
                        <li id="lnkNationality">@Html.ActionLink("Nationality", "Index", "Nationality", new { Area = "Admin" }, null)</li>
                        <li id="lnkResultGrade">@Html.ActionLink("Result Grade", "Index", "ResultGrade", new { Area = "Admin" }, null)</li>
                        <li id="lnkOLevelGrade">@Html.ActionLink("O-Level Grade", "Index", "OLevelGrade", new { Area = "Admin" }, null)</li>
                        <li id="lnkFaculty">@Html.ActionLink("School", "Index", "Faculty", new { Area = "Admin" }, null)</li>
                        <li id="lnkOLevelType">@Html.ActionLink("O-Level Type", "Index", "OLevelType", new { Area = "Admin" }, null)</li>
                        <li id="lnkInstitutionType">@Html.ActionLink("Institution Type", "Index", "InstitutionType", new { Area = "Admin" }, null)</li>
                    </ul>
                </li>
                <li>
                    <a href="#css">Fee Setup</a>
                    <ul class="children">
                        <li id="lnkFee">@Html.ActionLink("Fees", "Index", "Fee", new { Area = "Admin" }, null)</li>
                        @*<li id="lnkNews">@Html.ActionLink("News", "Index", "News", new { Area = "Common" }, null)</li>*@
                    </ul>
                </li>

            </ul>
        </div><!-- col-md-3 -->
        <div class="col-md-9">
            @*<div class="content" style="background-color:red">*@
            @RenderBody()
            @*</div>*@<!-- content -->
        </div><!-- col-md-9 -->
    </div>

    @RenderSection("scripts", required: false)

</body>

</html>



