﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@ViewBag.Title - The Federal Polytechnic Nekede</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-override.css" rel="stylesheet" />
    <link href="~/Content/style.default.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@


</head>


<body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="http://www.fpno.edu.ng" title="Nekede Poly Home"><img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Home", "Index", new { Controller = "Home", Area = "" })</li>

                    <li><a href="#">Portal User Guide</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Applicant<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Generate Invoice", "PostJambFormInvoiceGeneration", "Form", new {Area = "Applicant"}, null)</li>
                            <li>@Html.ActionLink("Fill Application Form", "PostJambProgramme", "Form", new {Area = "Applicant"}, null)</li>
                            <li>@Html.ActionLink("Reprint Acknowledgment Slip", "ReprintPostJAMBSlipByForm", "Form", new { Area = "Applicant" }, null)</li>

                            <li class="divider"></li>

                            <li>@Html.ActionLink("Check PUTME Result", "Index", "PostUtmeResult", new {Area = "Applicant"}, null)</li>

                            <li class="divider"></li>

                            <li>@Html.ActionLink("Check Admission Status", "CheckStatus", "Admission", new {Area = "Applicant"}, null)</li>
                            
                            <li>@Html.ActionLink("Check Admission Status By Name", "CheckStatusByName", "Admission", new { Area = "Applicant" }, null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Check Semester Result", "Check", "Result", new { Area = "Student" }, null)</li>
                    <li>@Html.ActionLink("Transcript Requests", "Index", "Transcripts", new { Area = "Common" }, null)</li>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                @*<li>@Html.ActionLink("Basic Setup", "Index", "PersonType", new { Area = "Admin" }, null)</li>*@
                                <li>@Html.ActionLink("Transcript Requests", "Index", "TranscriptProcessor", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Transcript Payments", "Payments", "Transcripts", new { Area = "Common" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Application Summary", "ApplicationSummary", "Report", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Application Form Summary", "ApplicationFormSummary", "Report", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("List of Applicants", "ListOfApplications", "Report", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Photo Card", "PhotoCard", "Report", new {Area = "Admin"}, null)</li>
                                <li>@Html.ActionLink("Acceptance Report", "AcceptanceReport", "Report", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("ND Morning Applicant Report", "NDMApplicantReport", "Report", new {Area = "Admin"}, null)</li>
                                <li>@Html.ActionLink("Applicant Ranking Report", "AllProgrammeRanking", "Report", new {Area = "Admin"}, null)</li>
                                @*<li>@Html.ActionLink("Aggregate Report", "MasterGradeSheet", "Report", new { Area = "Admin" }, null)</li>*@
                                
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Correct PUTME Result ", "Index", "Postjamb", new { Area = "Admin" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Correct Applicant Details", "Index", "Support/Index", new {Area = "Admin"}, null)</li>
                                <li>@Html.ActionLink("Correct Details By Name", "EditApplicantDetailByName", "Support", new { Area = "Admin" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Correct PIN Error", "PinError", "Support/PinError", new { Area = "Admin" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Upload Admission List", "UploadAdmission", "UploadAdmission/UploadAdmission", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Upload Last Session Admission", "AddData", "OldPortal/AddData", new {Area = "Applicant"}, null)</li>
                                <li>@Html.ActionLink("Reprint Last Session Admission", "Index", "OldPortal/Index", new {Area = "Applicant"}, null)</li>
                                @*<li>@Html.ActionLink("Upload Composite", "UploadCompositeSheeet", "ResultManager", new {Area = "Admin"}, null)</li>
                                <li>@Html.ActionLink("Edit Courses", "Edit", "Courses", new {Area = "Admin"}, null)</li>
                                <li>@Html.ActionLink("Student Details", "StudentDetails", "StudentCourseRegistration", new {Area = "Admin"}, null)</li>
                                <li>@Html.ActionLink("Staff Course Allocation", "AllocatedCourses", "StaffCourseAllocation", new { Area = "Admin" }, null)</li>*@
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Add Criteria", "AddAdmissionCriteria", "Clearance/AddAdmissionCriteria", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("View Criteria", "AdmissionCriteria", "Clearance/AdmissionCriteria", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Clear Student", "Index", "Clearance/Index", new {Area = "Admin"}, null)</li>
                                <li>@Html.ActionLink("Correct O'Level Details", "CorrectOlevel", "Support", new {Area = "Admin"}, null)</li>
                                <li>@Html.ActionLink("Update PassPort", "UpdatePassport", "Support", new { Area = "Admin" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("View Remita Report", "Index", "RemitaReport/Index", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Reset Invoice", "ResetInvoice", "Support/ResetInvoice", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Retrieve Pin", "PinRetrieval", "Support/PinRetrieval", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Retrieve step", "ResetStep", "Support/ResetStep", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Update RRR", "UpdateRRR", "RemitaReport/UpdateRRR", new {Area = "Admin"}, null)</li>
                                <li>@Html.ActionLink("Update Payment", "UpdatePayment", "Support", new { Area = "Admin" }, null)</li>
                                
                            </ul>
                        </li>
                    }
                    else if (User.Identity.IsAuthenticated && User.IsInRole("Teacher"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Staff<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>@Html.ActionLink("Download/Upload Result Sheet", "StaffResultSheet", "StaffCourseAllocation", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Exam Raw Score Sheet Report", "StaffReportSheet", "StaffCourseAllocation", new { Area = "Admin" }, null)</li> 
                            </ul>
                        </li>
                    }
                    else if (User.Identity.IsAuthenticated && User.IsInRole("Record"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Records<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                
                                <li>@Html.ActionLink("Aggregate Report", "MasterGradeSheet", "Report", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Download Result Sheet", "DownloadResultSheet", "StaffCourseAllocation", new { Area = "Admin" }, null)</li>
                                @*<li>@Html.ActionLink("Upload Result Sheet", "UploadResultSheet", "StaffCourseAllocation", new { Area = "Admin" }, null)</li>*@
                                <li>@Html.ActionLink("View Uploaded Results", "ViewUploadedCourses", "StaffCourseAllocation", new {Area = "Admin"}, null)</li>
                                <li>@Html.ActionLink("Pass List", "ExamPassList", "Report", new {Area = "Admin"}, null)</li>
                                <li>@Html.ActionLink("Reference List", "ExamReferenceList", "Report", new { Area = "Admin" }, null)</li>

                                @*<li>@Html.ActionLink("Attendance Sheets By Department", "AttendanceReportBulk", "Report", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Statement of Result", "StatementOfResult", "Report", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Statement of Result Bulk", "StatementOfResultBulk", "Report", new { Area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Notification of Result Bulk", "NotificationOfResultBulk", "Report", new { Area = "Admin" }, null)</li> *@
                                 
                            </ul>
                        </li>
                    }
                </ul>
                          
                <div >
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        </div>

        
    </nav>
    <br />
    <br />
    <div class="container ">
        @RenderBody()

        <hr />

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; @DateTime.Now.Year - The Federal Polytechnic Nekede</p>
                </div>
                <div class="col-lg-6 pull-right">
                    <p class="align-right"><a href="http://www.lloydant.com">Powered by <img src="@Url.Content("~/Content/Images/lloydant.png")" alt="" /></a></p>
                </div>
            </div>
        </footer>
    </div>

    <!-- Start of Smartsupp Live Chat script -->
    <script type="text/javascript">


        var _smartsupp = _smartsupp || {};
        _smartsupp.key = "8d8c5c64fa82b02ea860a7f80d5a93c351259935";

                //
        _smartsupp.cookieDomain = '.fpno.edu.ng';
        _smartsupp.requireLogin = true;
        // disable email
        _smartsupp.loginEmailControl = false;
        // append checkbox control to confirm something
        _smartsupp.loginControls = [{
            xtype: 'textinput',
            name: 'number',
            label: 'Phone',
            required: true
        }, {
            xtype: 'textinput',
            name: 'identifier',
            label: 'Application / Matric No',
            required: true
        }];

        window.smartsupp||(function(d) {
	        var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
	        s=d.getElementsByTagName('script')[0];c=d.createElement('script');
	        c.type='text/javascript';c.charset='utf-8';c.async=true;
	        c.src='//www.smartsuppchat.com/loader.js';s.parentNode.insertBefore(c,s);
        })(document);


    </script>
    <!-- End of Smartsupp Live Chat script -->
    <script>
    // customize banner & logo
    smartsupp('banner:set', 'bubble');
    smartsupp('chat:avatar', '/assets/images/demo-logo-1.png');

    // customize texts
    smartsupp('chat:translate', {
        online: {
            title: 'Support',
            infoTitle: 'LLOYDANT'
        },
        offline: {
            title: 'OFFLINE'
        }
    });

    // customize colors
    smartsupp('theme:colors', {
        primary: '#2477B2',
        banner: '#999999',
        primaryText: '#ffffff'
    });
    </script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>



</html>
