﻿@model Abundance_Nk.Model.Model.AdmissionLetter
@using GridMvc.Html

@{
    Layout = null;
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<link href="~/Content/pretty-menu.css" rel="stylesheet" />
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>
<style>
    .row {
        font-size: 14px !important;
        line-height: 15px;
    }
</style>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div>
                    <center>
                        <table style="margin-bottom:7px">
                            <tr>
                                <td>
                                    <h3><strong>FEDERAL POLYTECHNIC, NEKEDE</strong></h3>

                                </td>

                            </tr>
                            <tr style="text-align:center">
                                <td><img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" /></td>
                            </tr>
                            <tr style="text-align:center">
                                <td>P.M.B. 1036, OWERRI, IMO STATE NIGERIA.</td>
                            </tr>
                            <tr style="text-align:center">
                                <td><b>OFFICE OF THE REGISTRAR</b></td>
                            </tr>
                        </table>
                    </center>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                return;
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ">
            <div class="pull-right">
                <abbr title="Phone">Phone: </abbr>09030799697
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ">
            <b>Registrar: I. M. ALIGBE</b>
            <br />
            B.A (Hons)(Ibadan),PGD,MBA(FUTO) MCIPAN, MNIPR,MNIM
            <br />
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <b>Our Ref: FPN/R/ADM/CONS/16/XLVII/72</b>
            <br />
            <b>Your Ref:</b>  ..........................................
            <br />
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <b>Date:</b> @DateTime.Now.ToLongDateString()
                <br />
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12 ">
            <div>
                <b>To: @Model.Person.FullName </b> <br />
                <b>RE - Application No: @Model.applicationform.Number </b> <br />
            </div>
        </div>
    </div>


    <br />
    <div class="row letter">
        <div class="col-md-12 text-justify">
            <center>
                <p>
                    <h4 class="sectitle"><b>OFFER OF PROVISIONAL ADMISSION </b></h4>
                </p>
            </center>

            <p>
                I am pleased to inform you that you have been offered provisional Admission into  Federal Polytechnic Nekede, Owerri Imo State.</p>
            <br />
            <p>
                PROGRAMME : <b>@Model.Programme.Description.ToUpper()</b>
            </p>
            <p>
                DEPARTMENT : <b>@Model.Department.Name.ToUpper()</b>
            </p>
            <p>
                DURATION : <b>TWO (2) YEARS</b>
            </p>
            <p>
                SESSION : <b>@Model.Session.Name</b>
            </p>
            <P>
                You are required to accept the offer by prompt paymentt of the acceptance fee of #20, 000 (Twenty Thousand Naira) on <strong>E-Tranzact Platform</strong> at Federal Polytechnic Microfinance Bank within two weeks or have the admission forfeited.

            </P>
            <p> <strong> For further details on payment procedures/process, log unto <a href="http://fpno.edu.ng">www.fpno.edu.ng</a></strong>
            </p>
            <p> You should proceed with your documents to the Director where you will be issued with Registeration materials and authorization paper to pay school fees.</p>
            <p> Registration must be completed within one month of acceptance of offer of the admission. The admission lapses upon non compliance with this time duration</p>
            <p> Please, note that if any disparity is subsequently discovered on relevant educational qualification which you claimed, you will be required to withdraw from the Institution.</p>
            <p>
                The confirmation of this offer is subject to your tendering of the evidence of minimum entry qualification for the course offered.
            </p>

           
            <p>
                Congratulations !
                <br />
                Welcome to Federal Polytechnic Nekede, Owerri and say No to cultism.
            </p>
            <br />
            <p>
                <img src="@Url.Content("~/Content/Images/registrar_signature.png")" alt="" width="80px" height="50px" />
            </p>
            <p>
                <b>I.M Aligbe</b>
                <br />
                <b>REGISTRAR</b>
            </p>
        </div>
    </div>


</div>