﻿@model Abundance_Nk.Model.Model.Receipt

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />
<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>The Federal Polytechnic, Nekede</strong>
                        <br>
                        P.M.B. 1036, Owerri, Imo State Nigeria.
                        <br>
                        <abbr title="Phone">Phone:</abbr>
                    </address>

                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        @*<em>Name: <b>@Model.Name</b></em>*@
                        <b>@Model.Name</b>
                    </p>
                    <p>
                        <em>Application Number: @Model.ApplicationFormNumber</em>
                    </p>
                    <p>
                        <em>Date: @Model.Date.ToLongDateString()</em>
                    </p>
                    <p>
                        <em>Receipt #: <b>@Model.Number</b></em>
                    </p>
                    <p>
                        <em>Confirmation Order #: <b>@Model.ConfirmationOrderNumber</b></em>
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center text-danger">
                        <h1>Receipt</h1>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Qty</th>
                                <th class="text-center">Rate (N)</th>
                                <th class="text-center">Total (N)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-9"><em>@Model.Purpose</em></td>
                                <td class="col-md-1" style="text-align: center"> 1 </td>
                                <td class="col-md-1 text-center">@Model.Amount.ToString("n")</td>
                                <td class="col-md-1 text-center">@Model.Amount.ToString("n")</td>
                            </tr>
                        
                            <tr>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td class="text-right">
                                    <p>
                                        <strong>Subtotal:&nbsp;</strong>
                                    </p>
                                    <p>
                                        <strong>Tax:&nbsp;</strong>
                                    </p>
                                </td>
                                <td class="text-center">
                                    <p>
                                        <strong>@Model.Amount.ToString("n")</strong>
                                    </p>
                                    <p>
                                        <strong></strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td class="text-right"><h4><strong>Total:&nbsp;</strong></h4></td>
                                <td class="text-center text-danger"><h4><strong>@Model.Amount.ToString("n")</strong></h4></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

