﻿@model Abundance_Nk.Model.Entity.APPLICATION_FORM

@{
    //Layout = null;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>APPLICATION_FORM</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Serial_Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Serial_Number)
                    @Html.ValidationMessageFor(model => model.Serial_Number)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Application_Form_Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Application_Form_Number)
                    @Html.ValidationMessageFor(model => model.Application_Form_Number)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Application_Form_Setting_Id, "Application_Form_Setting_Id", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Application_Form_Setting_Id", String.Empty)
                    @Html.ValidationMessageFor(model => model.Application_Form_Setting_Id)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Application_Programme_Fee_Id, "Application_Programme_Fee_Id", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Application_Programme_Fee_Id", String.Empty)
                    @Html.ValidationMessageFor(model => model.Application_Programme_Fee_Id)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Payment_Id, "Payment_Id", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Payment_Id", String.Empty)
                    @Html.ValidationMessageFor(model => model.Payment_Id)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Person_Id, "Person_Id", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Person_Id", String.Empty)
                    @Html.ValidationMessageFor(model => model.Person_Id)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Date_Submitted, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date_Submitted)
                    @Html.ValidationMessageFor(model => model.Date_Submitted)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Release, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Release)
                    @Html.ValidationMessageFor(model => model.Release)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Rejected, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Rejected)
                    @Html.ValidationMessageFor(model => model.Rejected)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Reject_Reason, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Reject_Reason)
                    @Html.ValidationMessageFor(model => model.Reject_Reason)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Remarks)
                    @Html.ValidationMessageFor(model => model.Remarks)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
