﻿@model Abundance_Nk.Model.Entity.APPLICATION_FORM

@{
    //Layout = null;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>APPLICATION_FORM</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Serial_Number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Serial_Number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Application_Form_Number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Application_Form_Number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date_Submitted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date_Submitted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Release)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Release)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Rejected)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rejected)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reject_Reason)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reject_Reason)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Remarks)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Remarks)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APPLICATION_FORM_SETTING.Exam_Venue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APPLICATION_FORM_SETTING.Exam_Venue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APPLICATION_PROGRAMME_FEE.Application_Programme_Fee_Id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APPLICATION_PROGRAMME_FEE.Application_Programme_Fee_Id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PAYMENT.Invoice_Number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PAYMENT.Invoice_Number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PERSON.First_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PERSON.First_Name)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
