﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostJambViewModel

@{
    //Layout = null;
}

<div class="panel panel-custom">
    <div class="panel-heading-white">
        <div style="font-size:x-large">UTME Details/Mode of Reference</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicantJambDetail.JambRegistrationNumber, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.ApplicantJambDetail.JambRegistrationNumber, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.ApplicantJambDetail.JambRegistrationNumber)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicantJambDetail.JambScore, new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.ApplicantJambDetail.JambScore, (IEnumerable<SelectListItem>)ViewBag.JambScoreId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ApplicantJambDetail.JambScore)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicantJambDetail.InstitutionChoice.Id, new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.ApplicantJambDetail.InstitutionChoice.Id, (IEnumerable<SelectListItem>)ViewBag.InstitutionChoiceId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ApplicantJambDetail.InstitutionChoice.Id)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.HiddenFor(model => model.ApplicantJambDetail.JambSubject1.Id)
                    @Html.Label("First Subject",new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.ApplicantJambDetail.JambSubject1.Id,(IEnumerable<SelectListItem>)ViewBag.JambSubject1,new { @class = "form-control" , @disabled ="true"})
                    @Html.ValidationMessageFor(model => model.ApplicantJambDetail.JambSubject1.Id)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Second Subject",new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.ApplicantJambDetail.JambSubject2.Id,(IEnumerable<SelectListItem>)ViewBag.JambSubject2,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ApplicantJambDetail.JambSubject2.Id)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Third Subject",new { @class = "control-label " }) 
                    @Html.DropDownListFor(model => model.ApplicantJambDetail.JambSubject3.Id,(IEnumerable<SelectListItem>)ViewBag.JambSubject3,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ApplicantJambDetail.JambSubject3.Id)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Fourth Subject",new { @class = "control-label " }) 
                    @Html.DropDownListFor(model => model.ApplicantJambDetail.JambSubject4.Id,(IEnumerable<SelectListItem>)ViewBag.JambSubject4,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ApplicantJambDetail.JambSubject4.Id)
                </div>
            </div>
        </div>
       


    </div>
</div>

