﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostJambViewModel

@{
    //Layout = null;
}

<div class="panel panel-custom">
    <div class="panel-heading-white">
        <div style="font-size:x-large">O-Level Result</div>
    </div>
    <div class="panel-body">
        <div class="row" id="divOLevel">
            <div class="col-md-6">
                <h5>First Sitting</h5>
                <hr class="no-top-padding" />

                <div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstSittingOLevelResult.Type.Id, "Type", new { @class = "control-label col-md-3 custom-text-white" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.FirstSittingOLevelResult.Type.Id, (IEnumerable<SelectListItem>)ViewBag.FirstSittingOLevelTypeId, new { @class = "form-control olevel" })
                            @Html.ValidationMessageFor(model => model.FirstSittingOLevelResult.Type.Id)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstSittingOLevelResult.ExamNumber, new { @class = "control-label col-md-3 custom-text-white" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.FirstSittingOLevelResult.ExamNumber, new { @class = "form-control olevel" })
                            @Html.ValidationMessageFor(model => model.FirstSittingOLevelResult.ExamNumber)
                        </div>
                    </div>

                    <div class="form-group ">
                        @Html.LabelFor(model => model.FirstSittingOLevelResult.ExamYear, new { @class = "control-label col-md-3 custom-text-white" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.FirstSittingOLevelResult.ExamYear, (IEnumerable<SelectListItem>)ViewBag.FirstSittingExamYearId, new { @class = "form-control olevel" })
                            @Html.ValidationMessageFor(model => model.FirstSittingOLevelResult.ExamYear)
                        </div>
                    </div>
                </div>

                <table class="table table-condensed table-responsive" style="background-color:whitesmoke">
                    <tr>
                        <th>
                            Subject
                        </th>
                        <th>
                            Grade
                        </th>
                        <th></th>
                    </tr>

                    @for (int i = 0; i < 9; i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.FirstSittingOLevelResultDetails[i].Id)
                                @Html.HiddenFor(model => model.FirstSittingOLevelResultDetails[i].Subject.Name)
                                @Html.DropDownListFor(model => model.FirstSittingOLevelResultDetails[i].Subject.Id, (IEnumerable<SelectListItem>)ViewData["FirstSittingOLevelSubjectId" + i], new { @class = "form-control olevel" })

                            </td>
                            <td>

                                @Html.HiddenFor(model => model.FirstSittingOLevelResultDetails[i].Grade.Name)
                                @Html.DropDownListFor(model => model.FirstSittingOLevelResultDetails[i].Grade.Id, (IEnumerable<SelectListItem>)ViewData["FirstSittingOLevelGradeId" + i], new { @class = "form-control olevel" })

                            </td>
                        </tr>
                    }

                </table>
            </div>

            <div class="col-md-6">
                <h5>Second Sitting</h5>
                <hr class="no-top-padding" />

                <div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.SecondSittingOLevelResult.Type.Id, "Type", new { @class = "control-label col-md-3 custom-text-white" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.SecondSittingOLevelResult.Type.Id, (IEnumerable<SelectListItem>)ViewBag.SecondSittingOLevelTypeId, new { @class = "form-control olevel" })
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SecondSittingOLevelResult.ExamNumber, new { @class = "control-label col-md-3 custom-text-white" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.SecondSittingOLevelResult.ExamNumber, new { @class = "form-control olevel" })
                        </div>
                    </div>

                    <div class="form-group ">
                        @Html.LabelFor(model => model.SecondSittingOLevelResult.ExamYear, new { @class = "control-label col-md-3 custom-text-white" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.SecondSittingOLevelResult.ExamYear, (IEnumerable<SelectListItem>)ViewBag.SecondSittingExamYearId, new { @class = "form-control olevel" })
                        </div>
                    </div>
                </div>

                <table class="table table-condensed table-responsive" style="background-color:whitesmoke">
                    <tr>
                        <th>
                            Subject
                        </th>
                        <th>
                            Grade
                        </th>
                        <th></th>
                    </tr>

                    @for (int i = 0; i < 9; i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.SecondSittingOLevelResultDetails[i].Subject.Name)
                                @Html.DropDownListFor(model => model.SecondSittingOLevelResultDetails[i].Subject.Id, (IEnumerable<SelectListItem>)ViewData["SecondSittingOLevelSubjectId" + i], new { @class = "form-control olevel" })

                            </td>
                            <td>
                                @Html.HiddenFor(model => model.SecondSittingOLevelResultDetails[i].Grade.Name)
                                @Html.DropDownListFor(model => model.SecondSittingOLevelResultDetails[i].Grade.Id, (IEnumerable<SelectListItem>)ViewData["SecondSittingOLevelGradeId" + i], new { @class = "form-control olevel" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

