﻿@using Abundance_Nk.Model.Model
@model Abundance_Nk.Web.Areas.Common.ViewModels.TranscriptViewModel
@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript" src="~/Scripts/DataTables/datatables.js"></script>
    <script src="~/Scripts/DataTables/DataTables-1.10.15/js/jquery.dataTables.min.js"></script>
    <link href="~/Scripts/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/DataTables-1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/Buttons-1.3.1/js/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables/JSZip-3.1.3/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/pdfmake-0.1.27/build/pdfmake.js"></script>
    <script src="~/Scripts/DataTables/pdfmake-0.1.27/build/vfs_fonts.js"></script>
    <script src="~/Scripts/DataTables/Buttons-1.3.1/js/buttons.print.min.js"></script>
    <script src="~/Scripts/DataTables/Buttons-1.3.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
           // $('table.table-striped').DataTable();
            $('table.table-striped').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
}

<h2>Transaction Log</h2>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs responsive" id="myTab">
            <li id="tab1" class="test-class active"><a class="deco-none misc-class" href="#step1" data-toggle="tab"><span class="step"></span><span class="badge">All Payments</span></a></li>
            <li id="tab2"><a class="deco-none" href="#step2" data-toggle="tab"> <span class="step"></span><span class="badge">Successful Payments</span></a></li>
            <li id="tab3"><a class="deco-none" href="#step3" data-toggle="tab"><span class="step"></span><span class="badge">Unsuccessful Payments</span></a></li>
            <li id="tab4"><a class="deco-none" href="#step4" data-toggle="tab"><span class="step"></span><span class="badge">Pending Payments</span></a></li>
        </ul>

        <div class="tab-content responsive ">
            <div class="tab-pane active " id="step1">
                @*@Html.ActionLink("Update All", "UpdateRRRBulk", new { Area = "Admin", Controller = "TranscriptProcessor"}, new { @class = "btn btn-primary"})*@
                <table id="tbl-payments" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                    <th>Name</th>
                    <th>Transaction Reference</th>
                    <th>Transaction Date</th>
                    <th>Transaction Amount</th>
                    <th>Transaction Response</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    @foreach (RemitaPayment remitaPayment in Model.RemitaPayments)
                    {
                        <tr>
                            <td>@remitaPayment.payment.Person.FullName</td>
                            <td>@remitaPayment.payment.InvoiceNumber</td>
                            <td>@remitaPayment.TransactionDate</td>
                            <td>@remitaPayment.TransactionAmount</td>
                            <td>@remitaPayment.Status</td>
                            @if (!@remitaPayment.Status.Contains("01"))
                            {
                                <td>@Html.ActionLink("ReQuery", "GetStatus", new {TransactionReference = @remitaPayment.OrderId}, new {@class = "btn btn-danger-alt"})</td>

                            }
                            else
                            {
                                <td><a href="#" class="btn btn-success" disabled="disabled">ReQuery</a></td>
                            }
                        </tr>
                    }

                    </tbody>
                </table>


            </div>

            <div class="tab-pane" id="step2">

                <table class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                    <th>Name</th>
                    <th>Transaction Reference</th>
                    <th>Transaction Date</th>
                    <th>Transaction Amount</th>
                    <th>Transaction Response</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach(RemitaPayment remitaPayment in Model.RemitaPayments)
                        {
                            <tr>
                                @if(@remitaPayment.Status.Contains("01"))
                                {
                                    <td>@remitaPayment.payment.Person.FullName</td>
                                    <td>@remitaPayment.payment.InvoiceNumber</td>
                                    <td>@remitaPayment.TransactionDate</td>
                                    <td>@remitaPayment.TransactionAmount</td>
                                    <td>@remitaPayment.Status</td>
                                    <td><a class="btn btn-success-alt">Paid</a></td>

                                }
                            </tr>
                        }
                       
                    </tbody>
                </table>


            </div>

            <div class="tab-pane" id="step3">

                <table class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                    <th>Name</th>
                    <th>Transaction Reference</th>
                    <th>Transaction Date</th>
                    <th>Transaction Amount</th>
                    <th>Transaction Response</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach(RemitaPayment remitaPayment in Model.RemitaPayments)
                        {
                        <tr>
                            @if(!@remitaPayment.Status.Contains("01"))
                            {
                                <td>@remitaPayment.payment.Person.FullName</td>
                                <td>@remitaPayment.payment.InvoiceNumber</td>
                                <td>@remitaPayment.TransactionDate</td>
                                <td>@remitaPayment.TransactionAmount</td>
                                <td>@remitaPayment.Status</td>
                                <td>@Html.ActionLink("ReQuery","GetStatus",new { TransactionReference = @remitaPayment.OrderId },new { @class = "btn btn-danger-alt" })</td>


                                }
                        </tr>
                        }

                    </tbody>
                </table>


            </div>

            <div class="tab-pane" id="step4">

                <table class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                    <th>Name</th>
                    <th>Transaction Reference</th>
                    <th>Transaction Date</th>
                    <th>Transaction Amount</th>
                    <th>Transaction Response</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                       @foreach(RemitaPayment remitaPayment in Model.RemitaPayments)
                       {
                        <tr>
                            @if(String.IsNullOrEmpty(@remitaPayment.Status))
                            {
                                <td>@remitaPayment.payment.Person.FullName</td>
                                <td>@remitaPayment.payment.InvoiceNumber</td>
                                <td>@remitaPayment.TransactionDate</td>
                                <td>@remitaPayment.TransactionAmount</td>
                                <td>@remitaPayment.Status</td>
                                <td>@Html.ActionLink("ReQuery","GetStatus",new { TransactionReference = @remitaPayment.OrderId },new { @class = "btn btn-danger-alt" })</td>

                            }
                        </tr>
                        }

                    </tbody>
                </table>


            </div>


        </div>
    </div>
</div>


