﻿@model Abundance_Nk.Web.Areas.Common.ViewModels.TranscriptViewModel
@{
    ViewBag.Title = "Transcript Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="col-md-12">
        <div class="col-md-offset-3 col-md-6 panel panel-custom">
            <div class="panel-heading custom-text-white text-center">
                <h3>Transcript Receipt</h3>
            </div>
            <div class="panel-body" style="background-color: white">
                <div class="row text-center">
                    <img src="~/Content/Images/school_logo.jpg" />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TranscriptRequest.student.LastName)
                            @Html.TextBoxFor(model => model.TranscriptRequest.student.LastName,new { @class = "form-control",@readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TranscriptRequest.student.FirstName)
                            @Html.TextBoxFor(model => model.TranscriptRequest.student.FirstName,new { @class = "form-control",@readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TranscriptRequest.student.OtherName)
                            @Html.TextBoxFor(model => model.TranscriptRequest.student.OtherName,new { @class = "form-control",@readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TranscriptRequest.student.MatricNumber)
                            @Html.TextBoxFor(model => model.TranscriptRequest.student.MatricNumber,new { @class = "form-control",@readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TranscriptRequest.payment.InvoiceNumber)
                            @Html.TextBoxFor(model => model.TranscriptRequest.payment.InvoiceNumber,new { @class = "form-control",@readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TranscriptRequest.payment.FeeType.Name)
                            @Html.TextBoxFor(model => model.TranscriptRequest.payment.FeeType.Name,new { @class = "form-control",@readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Amount Paid")
                            <span class="form-control" style="background-color:#eee">@Model.TranscriptRequest.payment.FeeDetails.Sum(a => a.Fee.Amount)</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Feed Paid")
                            @Html.TextBoxFor(model => model.TranscriptRequest.payment.FeeType.Name,new { @class = "form-control",@readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2">
                        @Html.Label("Payment Reference",new { @class = "text-center " })
                        @Html.TextBoxFor(model => model.TranscriptRequest.OnlinePayment.TransactionNumber,new { @class = "form-control text-center",@readonly = "readonly" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="@Model.BarcodeImageUrl" height="60" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>