﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.TranscriptViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#State").hide();
        $("#StateName").hide();
        $("#Country").change(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetState", "Transcript")', // Calling json method
                dataType: 'json',
                data: { id: $("#Country").val() },
                // Get Selected Country ID.
                success: function (country) {
                    if (country == "NIG") {
                        $("#State").show();
                        $("#StateName").show();
                    }
                    else {
                        $("#State").hide()
                        $("#StateName").hide();
                       
                    }
                },
                error: function (ex) {
                    alert('Request Cannot be Processed.');
                }
            });
            return false;
        })
    })
</script>
<div class="row">
    <div class="col-md-12">
        @if (Model.RequestType == null)
        {
            <h2>
                Transcript
                <span class="label label-default"> Request Form</span>
            </h2>        <hr />
        }
        @if (Model.RequestType == "Certificate Collection")
        {
            <h2>
                Certificate
                <span class="label label-default"> Request Form</span>
            </h2>        <hr />
        }
        @if (Model.RequestType == "Transcript Verification")
        {
            <h2>
                Transcript Verification
                <span class="label label-default"> Request Form</span>
            </h2>
            <hr />
        }
        @if (Model.RequestType == "Certificate Verification")
        {
            <h2>
                Certificate Verification
                <span class="label label-default"> Request Form</span>
            </h2>
    <hr />
        }
        @if (Model.RequestType == "Convocation Fee")
        {
            <h2>
                Convocation Fee
                <span class="label label-default"> Payment Form</span>
            </h2>
    <hr />
        }
    </div>
    <hr />
</div>
@using (Html.BeginForm("Request", "Transcript", FormMethod.Post, new { id = "frmIndex", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.transcriptRequest.student.Id)
    @Html.HiddenFor(model => model.transcriptRequest.Id)
    @Html.HiddenFor(model => model.transcriptRequest.transcriptClearanceStatus.TranscriptClearanceStatusId)
    @Html.HiddenFor(model => model.transcriptRequest.transcriptStatus.TranscriptStatusId)
    
       
            <div class="col-md-12">


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.transcriptRequest.student.LastName)
                            @if (Model.transcriptRequest.student == null)
                            {
                                @Html.TextBoxFor(model => model.transcriptRequest.student.LastName, new { @class = "form-control", @placeholder = "Enter Surname" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.transcriptRequest.student.LastName, new { @class = "form-control", @readonly = "readonly" })
                            }
                            @Html.ValidationMessageFor(model => model.transcriptRequest.student.LastName)
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.transcriptRequest.student.FirstName)
                            @if (Model.transcriptRequest.student == null)
                            {
                                @Html.TextBoxFor(model => model.transcriptRequest.student.FirstName, new { @class = "form-control", @placeholder = "Enter Firstname" })

                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.transcriptRequest.student.FirstName, new { @class = "form-control", @readonly = "readonly" })
                            }
                            @Html.ValidationMessageFor(model => model.transcriptRequest.student.FirstName)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.transcriptRequest.student.OtherName, new { @class = "control-label " })
                            @if (Model.transcriptRequest.student == null)
                            {
                                @Html.TextBoxFor(model => model.transcriptRequest.student.OtherName, new { @class = "form-control", @placeholder = "Enter Other Name" })

                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.transcriptRequest.student.OtherName, new { @class = "form-control", @readonly = "readonly" })

                            }
                            @Html.ValidationMessageFor(model => model.transcriptRequest.student.OtherName)
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.transcriptRequest.student.MatricNumber, new { @class = "control-label " })
                            @if (Model.transcriptRequest.student == null)
                            {
                                @Html.TextBoxFor(model => model.transcriptRequest.student.MatricNumber, new { @class = "form-control", @placeholder = "Enter Matric Number" })

                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.transcriptRequest.student.MatricNumber, new { @class = "form-control", @readonly = "readonly" })

                            }
                            @Html.ValidationMessageFor(model => model.transcriptRequest.student.MatricNumber)
                        </div>
                    </div>
                </div>

                @if (Model.RequestType == "Convocation Fee")
                {
                    @Html.HiddenFor(model => model.transcriptRequest.DestinationAddress)
                    @Html.HiddenFor(model => model.transcriptRequest.DestinationCountry.Id)
                    @Html.HiddenFor(model => model.transcriptRequest.DestinationState.Id)
                }
                else
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.transcriptRequest.DestinationAddress, new { @class = "control-label " })
                                @Html.TextAreaFor(model => model.transcriptRequest.DestinationAddress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.transcriptRequest.DestinationAddress)
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.transcriptRequest.DestinationCountry, new { @class = "control-label " })
                                @Html.DropDownListFor(model => model.transcriptRequest.DestinationCountry.Id, (IEnumerable<SelectListItem>)ViewBag.CountryId, new { @class = "form-control", @id = "Country" })
                                @Html.ValidationMessageFor(model => model.transcriptRequest.DestinationCountry)
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.transcriptRequest.DestinationState, new { @class = "control-label ", @id = "StateName" })
                                @Html.DropDownListFor(model => model.transcriptRequest.DestinationState.Id, (IEnumerable<SelectListItem>)ViewBag.StateId, new { @class = "form-control", @id = "State" })
                                @Html.ValidationMessageFor(model => model.transcriptRequest.DestinationState)
                            </div>
                        </div>
                    </div>
                }
                

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="btn btn-success btn-lg mr5" type="submit" name="submit" id="submit" value="Submit" />

                        </div>
                    </div>
                </div>


            </div>
  


}