﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.ClearanceViewModel
@using System.Linq
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />


<div class="alert alert-success fade in nomargin">
    <h3>@ViewBag.Title</h3>
</div>
@if (Model == null || Model.person == null || Model.appliedCourse == null) { return; }

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $("#aPrint").on('click', function () {
            $(".printable").print();
            return false;
        });
    </script>
}

<div id="printable" class="printable">

    <center>
        <div class="alert alert-primary fade in nomargin">
            <img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" />
            <h3><strong><p class="custom-text-white">FEDERAL POLYTECHNIC, NEKEDE </p></strong></h3>
            <p class="custom-text-white">
                P.M.B. 1036, Nekede, Imo State.
            </p>
        </div>

        <br />
    </center>

    <br />

    <center>
        <h2> <p class="custom-text-black">CLEARANCE SLIP For @Model.appliedCourse.ApplicationForm.ProgrammeFee.Session.Name SESSION ADMISSION </p></h2>
    </center>
    <hr class="no-top-padding" />

    <div class="row ">
        <div class="col-md-12">
            <img src="@Url.Content('~' + Model.person.ImageFileUrl)" alt="" style="max-height:150px" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 custom-text-black" style="text-align:justify">
            <br />
            Dear @Model.person.FullName,
           
            @if (Model.clearanceDetails.status == true)
                
            {
                <p>
                    I hereby acknowledge that you have met the O-level requirements for admission into the department of @Model.appliedCourse.Department.Name in the polytechnic</p>
               <p>You are however required to proceed to the bank and make a School fees payment of N30,000 and return with a receipt / confirmation Number before you would be issued a matriculation Number</p>
            }
            else
            {
                 <p>I hereby regret to tell you that you have failed to meet the O-level requirements for admission into the department of @Model.appliedCourse.Department.Name in the polytechnic</p>
                <p>Here is why you why disqualified : @Model.applicationForm.RejectReason</p>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 custom-text-black">
            <h5>@Model.ClearanceOfficer.Username</h5>
            <br />
            <p>For: Registrar</p>
        </div>
    </div>

    <hr class="no-top-padding" />
</div>



<div class="row">
    <div class="col-md-12">
        <div class="form-actions no-color">
            <div class="panel " style="padding-top:0px">
                <button id="aPrint" class="btn btn-white btn-lg "><i class="fa fa-print mr5"></i> Print Slip</button>
            </div>
        </div>
    </div>
</div>




