﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.UploadAdmissionViewModel
@{
    ViewBag.Title = "Admission List View Criteria";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {
    <script type="text/javascript">


        $(document).ready(function() {



            $('.datepicker').bootstrapMaterialDatePicker({
                format: 'dddd DD MMMM YYYY',
                clearButton: true,
                weekStart: 1,
                time: false

            });



        });
    </script>
}

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-12">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Admission List</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">

                    @using (Html.BeginForm("AdmissionListBulk", "UploadAdmission", FormMethod.Post))
                    {
                        <div class="row">

                            <div class="form-group">
                                @Html.LabelFor(model => model.CurrentSession.Name, "Session", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.CurrentSession.Id, (IEnumerable<SelectListItem>)ViewBag.Session, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.CurrentSession.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DateFrom, "Date", new { @class = "col-sm-2 control-label " })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.DateFrom, new { @class = "datepicker", @placeholder = "From:", @required = "required", id = "dateFrom" })
                                    @Html.TextBoxFor(model => model.DateTo, new { @class = "datepicker", @placeholder = "To:", @required = "required", id = "dateTo" })

                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-2">
                                    <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="View" />
                                </div>
                            </div>
                        </div>
                    }

                  
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1"> </div>
</div>
