﻿@using Abundance_Nk.Web.Models
@model Abundance_Nk.Web.Areas.Admin.ViewModels.StaffCourseAllocationViewModel
@{
    ViewBag.Title = "ViewAlternateScoreSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#Session").change(function() {
            $("#Semester").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSemester", "Result")', // Calling json method
                dataType: 'json',
                data: { id: $("#Session").val() },
                // Get Selected Country ID.
                success: function(semesters) {
                    $("#Semester").append('<option value="' + 0 + '">' +
                        '-- Select Semester --' + '</option>');
                    $.each(semesters, function(i, semester) {
                        $("#Semester").append('<option value="' + semester.Value + '">' +
                            semester.Text + '</option>');
                    });
                },
                error: function(ex) {
                    alert('Failed to retrieve semesters.' + ex);
                }
            });
            return false;
        });
    })
</script>
<div class="row">
    <div class="col-md-12">

        <div>
            @if(TempData["Message"] != null)
            {
                @Html.Partial("_Message",(Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        @using(Html.BeginForm("ViewAlternateScoreSheet","StaffCourseAllocation",FormMethod.Post))
        {
            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <p style="font-size: large; color: white"><i class="fa fa-upload"></i> View Alternate score sheet
                    </p>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Session.Name, "Session", new {@class = "col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>) ViewBag.Session, new {@class = "form-control", @required = "required", @id = "Session"})
                            @Html.ValidationMessageFor(model => model.Session.Name)
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.Semester.Name, "Semester", new {@class = "col-md-2"})
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Semester.Id, (IEnumerable<SelectListItem>) ViewBag.Semester, new {@class = "form-control", @required = "required", @id = "Semester"})
                            @Html.ValidationMessageFor(model => model.Semester.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <input class="btn btn-success mr5 " type="submit" name="submit" id="submit" value="View"/>

                        </div>
                    </div>

                </div>
            </div>
        }

        <div class="row">
            @if(Model == null) { return; }
            @if(Model != null && Model.UploadedCourses != null)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>Course Code</th>
                                <th>Course Title</th>
                                <th>Programme</th>
                                <th>Level</th>
                                <th>Department</th>
                                <th>Lecturer Name</th>
                                <th>View Score Sheet</th>
                            </tr>
                                                        @for(int i = 0;i < Model.UploadedCourses.Count;i++)
                            {
                                                            <tr>
                                                                <td>@Model.UploadedCourses[i].CourseCode</td>
                                                                <td>@Model.UploadedCourses[i].CourseTitle</td>
                                                                <td>@Model.UploadedCourses[i].Programme</td>
                                                                <td>@Model.UploadedCourses[i].Level</td>
                                                                <td>@Model.UploadedCourses[i].Department</td>
                                                                <td><a href="@Url.Action("StaffDownloadReportSheet", "StaffCourseAllocation", new {cid = Utility.Encrypt(Model.CourseAllocations[i].Id.ToString())})" class="btn btn-success btn-sm">View Report</a></td>
                                                           </tr>
                            }
                        </table>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

