﻿@model Abundance_Nk.Model.Entity.HOSTEL

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Are you sure you want to delete this?</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">

                    <div>
                        <h5>HOSTEL</h5>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Hostel_Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Hostel_Name)
                            </dd>
                            <br/>   

                            <dt>
                                @Html.DisplayNameFor(model => model.Capacity)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Capacity)
                            </dd>
                            <br />

                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <br />

                            <dt>
                                @Html.DisplayNameFor(model => model.Date_Entered)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Date_Entered)
                            </dd>
                            <br />

                            <dt>
                                @Html.DisplayNameFor(model => model.Activated)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Activated)
                            </dd>
                            <br />

                            <dt>
                                @Html.DisplayName("Hostel Type")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.HOSTEL_TYPE.Hostel_Type_Name)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-success" })
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


