﻿@model Abundance_Nk.Model.Entity.HOSTEL

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Edit Hostel</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h5>HOSTEL</h5>
                            <hr />
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Hostel_Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Hostel_Type_Id, "Hostel Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Hostel_Type_Id", String.Empty)
                                    @Html.ValidationMessageFor(model => model.Hostel_Type_Id)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Hostel_Name, "Hostel Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Hostel_Name)
                                    @Html.ValidationMessageFor(model => model.Hostel_Name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Capacity, "Hostel Capacity", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Capacity)
                                    @Html.ValidationMessageFor(model => model.Capacity)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, "Hostel Description", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Date_Entered, "Date Added", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Date_Entered)
                                    @Html.ValidationMessageFor(model => model.Date_Entered)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Activated, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Activated)
                                    @Html.ValidationMessageFor(model => model.Activated)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index", "",new { @class = "btn btn-success" })
                    </div>
                      
                </div>
            </div>
        </div>
    </div> 
    <div class="col-md-1"></div>
</div>


                    
