﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.StaffCourseAllocationViewModel
@{
    ViewBag.Title = "UploadStudentAndResult";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
}


<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#busy").hide();

        function populateCourses() {
            $("#busy").show();
            $("#Course").empty();
            var values = new Array();
            //vals = [$("#Department").val(), $("#Level").val(), $("#Semester").val()];
            values[0] = $("#Department").val();
            values[1] = $("#Level").val();
            values[2] = $("#Semester").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCourses", "StaffCourseAllocation")', // Calling json method
                traditional: true,
                data: { ids: values },
                // Get Selected Country ID.
                success: function (courses) {

                    $.each(courses, function (i, course) {
                        $("#Course").append('<option value="' + course.Value + '">' +
                             course.Text + '</option>');
                    });
                    $("#busy").hide();
                },
                error: function (ex) {
                    alert('Failed to retrieve courses.' + ex);
                    $("#busy").hide();
                }
            });

        }
        //Programme Drop down Selected-change event
        $("#Programme").change(function () {
            if ($("#Department").val() > 0 && $("#Level").val() > 0 && $("#Semester").val() > 0) {
                populateCourses();
            }
            $("#busy").show();
            $("#Department").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartments", "StaffCourseAllocation")', // Calling json method
                dataType: 'json',
                data: { id: $("#Programme").val() },
                // Get Selected Country ID.
                success: function (departments) {
                    $("#Department").append('<option value="' + 0 + '">' +
                            '-- Select Department --' + '</option>');
                    $.each(departments, function (i, department) {
                        $("#Department").append('<option value="' + department.Value + '">' +
                             department.Text + '</option>');
                    });
                    $("#busy").hide();
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                    $("#busy").hide();
                }
            });
            return false;
        })
        //Session Drop down Selected change event
        $("#Session").change(function() {
            if ($("#Department").val() > 0 && $("#Level").val() > 0 && $("#Semester").val() > 0) {
                populateCourses();
            }
            $("#busy").show();
            $("#Semester").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSemester", "StaffCourseAllocation")', // Calling json method
                dataType: 'json',
                data: { id: $("#Session").val() },
                // Get Selected Country ID.
                success: function(semesters) {
                    $("#Semester").append('<option value="' + 0 + '">' +
                        '-- Select Semester --' + '</option>');
                    $.each(semesters, function(i, semester) {
                        $("#Semester").append('<option value="' + semester.Value + '">' +
                            semester.Text + '</option>');
                    });
                    $("#busy").hide();
                },
                error: function(ex) {
                    alert('Failed to retrieve semesters.' + ex);
                    $("#busy").hide();
                }
            });
            return false;
        });
        $("#Department").change(function () {
            if ($("#Department").val() > 0 && $("#Level").val() > 0 && $("#Semester").val() > 0) {
                populateCourses();
            }
        });
        $("#Session").change(function () {
            if ($("#Department").val() > 0 && $("#Level").val() > 0 && $("#Semester").val() > 0) {
                populateCourses();
            }
        });
        $("#Level").change(function () {
            if ($("#Department").val() > 0 && $("#Level").val() > 0 && $("#Semester").val() > 0) {
                populateCourses();
            }

        }); 

    });

    function Busy() {
        $("#busy").show();
    }
</script>

@using (Html.BeginForm("UploadStudentAndResult", "ResultManager", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-fw fa-upload"></i>Upload Student Result</h3>
        </div>
        <div class="panel-body"> 
            <div class="form-group">
                @Html.LabelFor(model => model.Session.Name, "Session", new { @class = "col-sm-2 control-label " })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Session, new { @class = "form-control", @id = "Session", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Session.Id, null, new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Semester.Name, "Semester", new { @class = "col-sm-2 control-label " })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.Semester.Id, (IEnumerable<SelectListItem>)ViewBag.Semester, new { @class = "form-control", @id = "Semester", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Semester.Id, null, new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Programme.Name, "Programme", new { @class = "col-sm-2 control-label " })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.Programme, new { @class = "form-control", @id = "Programme", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Programme.Id, null, new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Department.Name, "Department", new { @class = "col-sm-2 control-label " })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.Department.Id, (IEnumerable<SelectListItem>)ViewBag.Department, new { @class = "form-control", @id = "Department", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Department.Id, null, new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Level.Name, "Level", new { @class = "col-sm-2 control-label " })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.Level.Id, (IEnumerable<SelectListItem>)ViewBag.Level, new { @class = "form-control", @id = "Level", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Level.Id, null, new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Course.Name, "Course", new { @class = "col-sm-2 control-label " })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.Course.Id, (IEnumerable<SelectListItem>)ViewBag.Course, new { @class = "form-control", @id = "Course", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Course.Id, null, new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CourseMode.Name, "Course Mode", new { @class = "col-sm-2 control-label " })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.CourseMode.Id, (IEnumerable<SelectListItem>)ViewBag.CourseMode, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.CourseMode.Id, null, new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="file" title="Upload Result" id="file" name="file" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-group form-inline">
                        <input class="btn btn-success mr5 " type="submit" name="submit" id="submit" value="Upload Here" onclick="Busy()"/>
                        <span id="busy" style="display:none">
                            <span>Processing...</span>
                            <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                        </span>   
                    </div>
                     
                </div>
            </div>

        </div>
        <br />
        @if (Model == null || Model.StudentResultFormatList == null)
        {
            return;
        }
        @if (Model != null && Model.StudentResultFormatList.Count > 0)
        {
            <table class="table table-responsive table-striped">
                <tr>
                    <th>
                        S/N
                    </th>
                    <th>
                        NAME
                    </th>
                    <th>
                        MATRIC NUMBER
                    </th>
                    <th>
                        GRDAE
                    </th> 
                    <th>
                        COURSE CODE
                    </th>
                    <th>
                        COURSE UNIT
                    </th>
                </tr>
                @for (int i = 0; i < Model.StudentResultFormatList.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.StudentResultFormatList[i].SN
                        </td>
                        <td>
                            @Model.StudentResultFormatList[i].NAME
                        </td>
                        <td>
                            @Model.StudentResultFormatList[i].MATRICNO
                        </td>
                        <td>
                            @Model.StudentResultFormatList[i].Grade
                        </td>
                        <td>
                            @Model.StudentResultFormatList[i].Course_Code
                        </td>
                        <td>
                            @Model.StudentResultFormatList[i].CourseUnit
                        </td>
                    </tr>
                }
            </table>
            <br />
            <div class="form-group" style="text-align:center">

                <div class="col-sm-10 pull-left">
                    @Html.ActionLink("Save", "SaveUploadedStudentResult", new { controller = "ResultManager", area = "Admin"}, new { @class = "btn btn-success mr5", onclick = "Busy()" })
                    <span id="busy" style="display:none">
                        <span>Processing...</span>
                        <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                    </span>
                </div>
            </div>
        }
    </div>

}


