﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.HostelViewModel
@{
    ViewBag.Title = "AllocateReservedRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Allocate Reserved Room</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">

                    @using (Html.BeginForm("AllocateReservedRoom", "HostelAllocation", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.HiddenFor(m => m.HostelRoom.Id)
                                @Html.HiddenFor(m => m.HostelRoom.Hostel.Id)
                                @Html.HiddenFor(m => m.HostelRoom.Series.Id)

                                <div>
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayName("Hostel:")
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.HostelRoom.Hostel.Name)
                                        </dd>
                                        <br />

                                        <dt>
                                            @Html.DisplayName("Series/Floor:")
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.HostelRoom.Series.Name)
                                        </dd>
                                        <br />

                                        <dt>
                                            @Html.DisplayName("Room:")
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.HostelRoom.Number)
                                        </dd>
                                        <br/>
                                        <dt>
                                            @Html.DisplayName("Bed Space:")
                                        </dt>

                                        <dd>
                                            @Html.DropDownListFor(model => model.HostelRoomCorner.Id, (IEnumerable<SelectListItem>)ViewBag.CornerId, htmlAttributes: new { @class = "form-control", @required = "required" })
                                        </dd>
                                        <br/>
                                        <dt>
                                            @Html.DisplayName("Matric Number:")
                                        </dt>

                                        <dd>
                                            @Html.TextBoxFor(model => model.Student.MatricNumber, new { @class = "form-control", @required = "required" })
                                        </dd>
                                        <br />

                                        @*<div class="row">
                                            <div class="col-md-offset-2 col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.HostelRoomCorner.Name, "Bed Space", new { @class = "control-label custom-text-black" })
                                                    @Html.DropDownListFor(model => model.HostelRoomCorner.Id, (IEnumerable<SelectListItem>)ViewBag.CornerId, htmlAttributes: new { @class = "form-control", @required = "required"})
                                                    @Html.ValidationMessageFor(model => model.HostelRoomCorner.Id, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <br/>*@

                                        @*<div class="row">
                                            <div class="col-md-offset-2 col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Student.MatricNumber, "Matric Number", new { @class = "control-label custom-text-black" })
                                                    @Html.TextBoxFor(model => model.Student.MatricNumber, new { @class = "form-control", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.Student.Id, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />*@
                                    </dl>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-11">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                        </div>
                                </div>
                            </div>

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>



