﻿
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsive-tabs.js"></script>

    <script type="text/javascript">
        //(function ($) {
        //    fakewaffle.responsiveTabs(['xs', 'sm']);
        //})(jQuery);

        //$('#myTab a').click(function (e) {
        //    e.preventDefault();
        //    $(this).tab('show');
        //});

        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
}

<h3 style="color:black">
    Application Summary
</h3>

<div class="alert alert-dismissible alert-danger">
    <p>
        Application Summary can be viewed by selecting Session from the drop dowm below, then click the Display Report button to display an exportable and printable report.
    </p>
</div>

<iframe src="~/Reports/Presenter/ApplicationSummary.aspx" style="width:100%; " frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'></iframe>


<br />
