﻿@using Abundance_Nk.Model.Model
@model Abundance_Nk.Web.Areas.Admin.ViewModels.TranscriptProcessorViewModel
@{
    ViewBag.Title = "AddExtraCourse";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {

            //Programme Drop down Selected-change event
            $("#Programme").change(function() {

                $("#Department").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDepartments", "StudentCourseRegistration")', // Calling json method
                    dataType: 'json',
                    data: { id: $("#Programme").val() },
                    // Get Selected Country ID.
                    success: function(departments) {
                        $("#Department").append('<option value="' + 0 + '">' +
                            '-- Select Department --' + '</option>');
                        $.each(departments, function(i, department) {
                            $("#Department").append('<option value="' + department.Value + '">' +
                                department.Text + '</option>');
                        });
                    },
                    error: function(ex) {
                        alert('Failed to retrieve departments.' + ex);
                    }
                });
                return false;
            });
            //Session Drop down Selected change event
            $("#Session").change(function() {

                $("#Semester").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSemester", "StudentCourseRegistration")', // Calling json method
                    dataType: 'json',
                    data: { id: $("#Session").val() },
                    // Get Selected Country ID.
                    success: function(semesters) {
                        $("#Semester").append('<option value="' + 0 + '">' +
                            '-- Select Semester --' + '</option>');
                        $.each(semesters, function(i, semester) {
                            $("#Semester").append('<option value="' + semester.Value + '">' +
                                semester.Text + '</option>');
                        });
                    },
                    error: function(ex) {
                        alert('Failed to retrieve semesters.' + ex);
                    }
                });
                return false;
            });

        });

        //function CheckAll() {
        //    if ($('#CourseId1').is(':checked')) {
        //        $('.checkAll1').prop('checked', true);
        //    } else {
        //        $('.checkAll1').prop('checked', false);
        //    }
        //}

        //function CheckAll() {
        //    if ($('#CourseId2').is(':checked')) {
        //        $('.checkAll2').prop('checked', true);
        //    } else {
        //        $('.checkAll2').prop('checked', false);
        //    }
        //}

        //function CheckAllCarryOver() {
        //    if ($('#CarryOverId1').is(':checked')) {
        //        $('.checkAllCarryOver1').prop('checked', true);
        //    } else {
        //        $('.checkAllCarryOver1').prop('checked', false);
        //    }
        //}

        //function CheckAllCarryOver() {
        //    if ($('#CarryOverId2').is(':checked')) {
        //        $('.checkAllCarryOver2').prop('checked', true);
        //    } else {
        //        $('.checkAllCarryOver2').prop('checked', false);
        //    }
        //}

    </script>
}

<div class="col-md-12">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Add Results</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">

                    @using (Html.BeginForm("AddExtraCourse", "TranscriptProcessor", new { area = "Admin" }, FormMethod.Post))
                    {
                        @Html.HiddenFor(model => model.Student.MatricNumber)
                        @Html.HiddenFor(model => model.Student.Id)
                        @Html.HiddenFor(model => model.Student.FullName)
                        @Html.HiddenFor(model => model.Programme.Id)
                        @Html.HiddenFor(model => model.Department.Id)

                        <h3>@Model.Student.FullName</h3>
                        <hr/><br/>

                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Student.MatricNumber, "Matric Number", new { @class = "col-sm-2 control-label " })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Student.MatricNumber, new { @class = "form-control", @required = "required", disabled = true })
                                    @Html.ValidationMessageFor(model => model.Student.MatricNumber, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Semester.Name, "Semester", new { @class = "col-sm-2 control-label " })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.Semester.Id, (IEnumerable<SelectListItem>)ViewBag.Semester, new { @class = "form-control", @id = "Semester" })
                                    @Html.ValidationMessageFor(model => model.Semester.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@

                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Programme.Name, "Programme", new { @class = "col-sm-2 control-label " })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.Programme, new { @class = "form-control", @id = "Programme", disabled = true })
                                    @Html.ValidationMessageFor(model => model.Programme.Id, null, new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Department.Name, "Department", new { @class = "col-sm-2 control-label " })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.Department.Id, (IEnumerable<SelectListItem>)ViewBag.Department, new { @class = "form-control", @id = "Department", disabled = true })
                                    @Html.ValidationMessageFor(model => model.Department.Id, null, new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>

        <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Session.Name, "Session", new { @class = "col-sm-2 control-label " })
            <div class="col-sm-5">
                @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Session, new { @class = "form-control", @id = "Session", @required = "required" })
                @Html.ValidationMessageFor(model => model.Session.Id, null, new { @class = "text-danger" })
            </div>
            </div>
            </div>
            @*<div class="row">
                <div class="form-group">

                    @Html.LabelFor(model => model.SelectCourseInSession, "Get Courses in session only", new { @class = "col-sm-2 control-label " })
                    <div class="col-sm-1 pull-left">
                        @Html.CheckBoxFor(model => model.SelectCourseInSession, new { @class = "form-control" })
                        </div>
                    </div>

                    </div>*@
            

            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Level.Name, "Level", new { @class = "col-sm-2 control-label " })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.Level.Id, (IEnumerable<SelectListItem>)ViewBag.Level, new { @class = "form-control", @id = "Level" })
                        @Html.ValidationMessageFor(model => model.Level.Id, null, new { @class = "text-danger" })
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="View Courses" /> &nbsp &nbsp   @Html.CheckBoxFor(model => model.SelectCourseInSession)
                        Get Old Courses


                    </div>
                </div>
            </div>


            }


        </div>
            </div>
      </div>
        
        @if (Model.Courses == null) { return;} 
        @if (Model.Courses.Count > 0)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        
                        @using (Html.BeginForm("SaveAddedCourse", "TranscriptProcessor", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.Student.MatricNumber)
                            @Html.HiddenFor(model => model.Student.Id)
                            @Html.HiddenFor(model => model.Student.FullName)
                            //@Html.HiddenFor(model => model.Semester.Id)
                            @Html.HiddenFor(model => model.Session.Id)
                            @Html.HiddenFor(model => model.Programme.Id)
                            @Html.HiddenFor(model => model.Department.Id)
                            @Html.HiddenFor(model => model.Level.Id)

                            if (Model.CarryOverCourses != null && Model.CarryOverCourses.Count > 0)
                            {
                                <div class="row clearfix">
                                    <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                                        <div class="panel-group" id="accordion_c" role="tablist" aria-multiselectable="true">

                                            <div class="panel panel-primary">
                                                <div class="panel-heading" role="tab" id="headingTwo_c">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_c" href="#collapseTwo_c" aria-expanded="false"
                                                           aria-controls="collapseTwo_c">
                                                           <i class="material-icons">view_list</i><span>Carry Over Courses</span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo_c" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_c">
                                                    <div class="panel-body">

                                                        @if (Model.CarryOverCourses != null && Model.CarryOverCourses.Count > 0)
                                                        {
                                                            <h3>CarryOver Courses</h3>
                                                            <hr />
                                                            <table class="table table-bordered table-hover table-striped table-responsive">
                                                                <tr>
                                                                    <th>Sn</th>
                                                                    <th>Department</th>
                                                                    <th>Department Option</th>
                                                                    <th>Level</th>
                                                                    <th>Course Code</th>
                                                                    <th>Course Name</th>
                                                                    <th>Course Unit</th>
                                                                    <th>Course Semester</th>
                                                                    <th>Grade</th>
                                                                    <th><input type="checkbox" id="CarryOverId1" onclick="CheckAllCarryOver()" /> Carry Over</th>

                                                                </tr>
                                                                @for (int i = 0; i < Model.CarryOverCourses.Count; i++)
                                                                {
                                                                    var sn = i + 1;
                                                                    <tr>
                                                                        @Html.HiddenFor(model => model.CarryOverCourses[i].Id)
                                                                        @Html.HiddenFor(model => model.CarryOverCourses[i].Unit)
                                                                        @Html.HiddenFor(model => model.CarryOverCourses[i].Code)
                                                                        @Html.HiddenFor(model => model.CarryOverCourses[i].Name)
                                                                        @Html.HiddenFor(model => model.CarryOverCourses[i].Semester.Id)

                                                                        <td>@sn</td>
                                                                        @if (Model.CarryOverCourses[i].Department != null)
                                                                        {
                                                                            <td>@Model.CarryOverCourses[i].Department.Name</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td></td>
                                                                        }

                                                                        @if (Model.CarryOverCourses[i].DepartmentOption != null)
                                                                        {
                                                                            <td>@Model.CarryOverCourses[i].DepartmentOption.Name</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td></td>
                                                                        }
                                                                        @if (Model.CarryOverCourses[i].Level != null)
                                                                        {
                                                                            <td>@Model.CarryOverCourses[i].Level.Name</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td></td>
                                                                        }
                                                                        <td>@Model.CarryOverCourses[i].Code</td>
                                                                        <td>@Model.CarryOverCourses[i].Name</td>
                                                                        <td>@Model.CarryOverCourses[i].Unit</td>
                                                                        <td>@Model.CarryOverCourses[i].Semester.Name</td>
                                                                        <td>@Html.DropDownListFor(m => m.CarryOverCourses[i].Grade, (IEnumerable<SelectListItem>)ViewData["cCourse" + i], new { @class = "form-control" })</td>
                                                                        <td>@Html.CheckBoxFor(model => model.CarryOverCourses[i].isCarryOverCourse, new { @type = "checkbox", @class = "checkAllCarryOver1" })</td>
                                                                       
                                                                    </tr>
                                                                }
                                                            </table>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row clearfix">
                                <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                                    <div class="panel-group" id="accordion_17" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="headingOne_17">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion_17" href="#collapseOne_17" aria-expanded="true" aria-controls="collapseOne_17">
                                                        <i class="material-icons">view_list</i>First Semester
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne_17" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_17">
                                                <div class="panel-body">

                                                    @if (Model.FirstSemesterCourses != null && Model.FirstSemesterCourses.Count > 0)
                                                    {
                                                        <h3>First Semester</h3>
                                                        <hr/>
                                                        <table class="table table-bordered table-hover table-striped table-responsive">
                                                            <tr>
                                                                <th>Sn</th>
                                                                <th>Department</th>
                                                                <th>Department Option</th>
                                                                <th>Level</th>
                                                                <th>Course Code</th>
                                                                <th>Course Name</th>
                                                                <th>Course Unit</th>
                                                                <th>Course Semester</th>
                                                                <th>Grade</th>
                                                                <th><input type="checkbox" id="CourseId1" onclick="CheckAll()"/> Select Course</th>
                                                                @if (Model.Level.Id != 1 && Model.Level.Id != 3)
                                                                {
                                                                    <th><input type="checkbox" id="CarryOverId1" onclick="CheckAllCarryOver()"/> Carry Over</th>
                                                                }

                                                            </tr>
                                                            @for (int i = 0; i < Model.FirstSemesterCourses.Count; i++)
                                                            {
                                                                var sn = i + 1;
                                                                <tr>
                                                                    @Html.HiddenFor(model => model.FirstSemesterCourses[i].Id)
                                                                    @Html.HiddenFor(model => model.FirstSemesterCourses[i].Unit)
                                                                    @Html.HiddenFor(model => model.FirstSemesterCourses[i].Code)
                                                                    @Html.HiddenFor(model => model.FirstSemesterCourses[i].Name)
                                                                    @Html.HiddenFor(model => model.FirstSemesterCourses[i].Semester.Id)

                                                                    <td>@sn</td>
                                                                    @if (Model.FirstSemesterCourses[i].Department != null)
                                                                    {
                                                                        <td>@Model.FirstSemesterCourses[i].Department.Name</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }

                                                                    @if (Model.FirstSemesterCourses[i].DepartmentOption != null)
                                                                    {
                                                                        <td>@Model.FirstSemesterCourses[i].DepartmentOption.Name</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                    @if (Model.FirstSemesterCourses[i].Level != null)
                                                                    {
                                                                        <td>@Model.FirstSemesterCourses[i].Level.Name</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                    <td>@Model.FirstSemesterCourses[i].Code</td>
                                                                    <td>@Model.FirstSemesterCourses[i].Name</td>
                                                                    <td>@Model.FirstSemesterCourses[i].Unit</td>
                                                                    <td>@Model.FirstSemesterCourses[i].Semester.Name</td>
                                                                    <td>@Html.DropDownListFor(m => m.FirstSemesterCourses[i].Grade, (IEnumerable<SelectListItem>) ViewData["fCourse" + i], new {@class = "form-control"})</td>
                                                                    <td>@Html.CheckBoxFor(model => model.FirstSemesterCourses[i].IsRegistered, new {@type = "checkbox", @class = "checkAll1"})</td>
                                                                    @if (Model.Level.Id != 1 && Model.Level.Id != 3)
                                                                    {
                                                                        <td>@Html.CheckBoxFor(model => model.FirstSemesterCourses[i].isCarryOverCourse, new {@type = "checkbox", @class = "checkAllCarryOver1"})</td>
                                                                    }

                                                                </tr>
                                                            }
                                                        </table>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="headingTwo_17">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_17" href="#collapseTwo_17" aria-expanded="false"
                                                       aria-controls="collapseTwo_17">
                                                        <i class="material-icons">view_list</i> Second Semester
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo_17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_17">
                                                <div class="panel-body">

                                                    @if (Model.SecondSemesterCourses != null && Model.SecondSemesterCourses.Count > 0)
                                                    {
                                                        <h3>Second Semester</h3>
                                                        <hr/>
                                                        <table class="table table-bordered table-hover table-striped table-responsive">
                                                            <tr>
                                                                <th>Sn</th>
                                                                <th>Department</th>
                                                                <th>Department Option</th>
                                                                <th>Level</th>
                                                                <th>Course Code</th>
                                                                <th>Course Name</th>
                                                                <th>Course Unit</th>
                                                                <th>Course Semester</th>
                                                                <th>Grade</th>
                                                                <th><input type="checkbox" id="CourseId2" onclick="CheckAll()"/> Select Course</th>
                                                                @if (Model.Level.Id != 1 && Model.Level.Id != 3)
                                                                {
                                                                    <th><input type="checkbox" id="CarryOverId2" onclick="CheckAllCarryOver()"/> Carry Over</th>
                                                                }

                                                            </tr>
                                                            @for (int i = 0; i < Model.SecondSemesterCourses.Count; i++)
                                                            {
                                                                var sn = i + 1;
                                                                <tr>
                                                                    @Html.HiddenFor(model => model.SecondSemesterCourses[i].Id)
                                                                    @Html.HiddenFor(model => model.SecondSemesterCourses[i].Unit)
                                                                    @Html.HiddenFor(model => model.SecondSemesterCourses[i].Code)
                                                                    @Html.HiddenFor(model => model.SecondSemesterCourses[i].Name)
                                                                    @Html.HiddenFor(model => model.SecondSemesterCourses[i].Semester.Id)

                                                                    <td>@sn</td>
                                                                    @if (Model.SecondSemesterCourses[i].Department != null)
                                                                    {
                                                                        <td>@Model.SecondSemesterCourses[i].Department.Name</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }

                                                                    @if (Model.SecondSemesterCourses[i].DepartmentOption != null)
                                                                    {
                                                                        <td>@Model.SecondSemesterCourses[i].DepartmentOption.Name</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                    @if (Model.SecondSemesterCourses[i].Level != null)
                                                                    {
                                                                        <td>@Model.SecondSemesterCourses[i].Level.Name</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                    <td>@Model.SecondSemesterCourses[i].Code</td>
                                                                    <td>@Model.SecondSemesterCourses[i].Name</td>
                                                                    <td>@Model.SecondSemesterCourses[i].Unit</td>
                                                                    <td>@Model.SecondSemesterCourses[i].Semester.Name</td>
                                                                    <td>@Html.DropDownListFor(m => m.SecondSemesterCourses[i].Grade, (IEnumerable<SelectListItem>) ViewData["sCourse" + i], new {@class = "form-control"})</td>
                                                                    <td>@Html.CheckBoxFor(model => model.SecondSemesterCourses[i].IsRegistered, new {@type = "checkbox", @class = "checkAll2"})</td>
                                                                    @if (Model.Level.Id != 1 && Model.Level.Id != 3)
                                                                    {
                                                                        <td>@Html.CheckBoxFor(model => model.SecondSemesterCourses[i].isCarryOverCourse, new {@type = "checkbox", @class = "checkAllCarryOver2"})</td>
                                                                    }

                                                                </tr>
                                                            }
                                                        </table>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            if (Model.Level.Id == (int)Levels.HNDII || Model.Level.Id == (int)Levels.NDII)
                            {
                                <div class="row clearfix">
                                    <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                                        <div class="panel-group" id="accordion_nd1" role="tablist" aria-multiselectable="true">
                                            
                                            <div class="panel panel-primary">
                                                <div class="panel-heading" role="tab" id="headingTwo_nd1">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_nd1" href="#collapseTwo_nd1" aria-expanded="false"
                                                           aria-controls="collapseTwo_nd1">
                                                            @if (Model.Level.Id == (int)Levels.HNDII)
                                                            {
                                                                <i class="material-icons">view_list</i><span>HNDI Courses</span>
                                                            }
                                                            else
                                                            {
                                                                <i class="material-icons">view_list</i><span>NDI Courses</span>
                                                            }

                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo_nd1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_nd1">
                                                    <div class="panel-body">

                                                        <div class="row clearfix">
                                                            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                                                                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                                                                    <div class="panel panel-primary">
                                                                        <div class="panel-heading" role="tab" id="headingOne_1">
                                                                            <h4 class="panel-title">
                                                                                <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="true" aria-controls="collapseOne_1">
                                                                                    
                                                                                    @if (Model.Level.Id == (int)Levels.HNDII)
                                                                                    {
                                                                                        <span>HNDI First Semester</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <span>NDI First Semester</span>
                                                                                    }
                                                                                </a>
                                                                            </h4>
                                                                        </div>
                                                                        <div id="collapseOne_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                                                            <div class="panel-body">

                                                                                @if (Model.FirstSemesterCoursesNd1 != null && Model.FirstSemesterCoursesNd1.Count > 0)
                                                                                {
                                                                                    <h3>First Semester</h3>
                                                                                    <hr />
                                                                                    <table class="table table-bordered table-hover table-striped table-responsive">
                                                                                        <tr>
                                                                                            <th>Sn</th>
                                                                                            <th>Department</th>
                                                                                            <th>Department Option</th>
                                                                                            <th>Level</th>
                                                                                            <th>Course Code</th>
                                                                                            <th>Course Name</th>
                                                                                            <th>Course Unit</th>
                                                                                            <th>Course Semester</th>
                                                                                            <th>Grade</th>
                                                                                            <th><input type="checkbox" id="CourseId1" onclick="CheckAll()" /> Select Course</th>
                                                                                            @if (Model.Level.Id != 1 && Model.Level.Id != 3)
                                                                                            {
                                                                                                <th><input type="checkbox" id="CarryOverId1" onclick="CheckAllCarryOver()" /> Carry Over</th>
                                                                                            }

                                                                                        </tr>
                                                                                        @for (int i = 0; i < Model.FirstSemesterCoursesNd1.Count; i++)
                                                                                        {
                                                                                            var sn = i + 1;
                                                                                            <tr>
                                                                                                @Html.HiddenFor(model => model.FirstSemesterCoursesNd1[i].Id)
                                                                                                @Html.HiddenFor(model => model.FirstSemesterCoursesNd1[i].Unit)
                                                                                                @Html.HiddenFor(model => model.FirstSemesterCoursesNd1[i].Code)
                                                                                                @Html.HiddenFor(model => model.FirstSemesterCoursesNd1[i].Name)
                                                                                                @Html.HiddenFor(model => model.FirstSemesterCoursesNd1[i].Semester.Id)

                                                                                                <td>@sn</td>
                                                                                                @if (Model.FirstSemesterCoursesNd1[i].Department != null)
                                                                                                {
                                                                                                    <td>@Model.FirstSemesterCoursesNd1[i].Department.Name</td>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <td></td>
                                                                                                }

                                                                                                @if (Model.FirstSemesterCoursesNd1[i].DepartmentOption != null)
                                                                                                {
                                                                                                    <td>@Model.FirstSemesterCoursesNd1[i].DepartmentOption.Name</td>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <td></td>
                                                                                                }
                                                                                                @if (Model.FirstSemesterCoursesNd1[i].Level != null)
                                                                                                {
                                                                                                    <td>@Model.FirstSemesterCoursesNd1[i].Level.Name</td>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <td></td>
                                                                                                }
                                                                                                <td>@Model.FirstSemesterCoursesNd1[i].Code</td>
                                                                                                <td>@Model.FirstSemesterCoursesNd1[i].Name</td>
                                                                                                <td>@Model.FirstSemesterCoursesNd1[i].Unit</td>
                                                                                                <td>@Model.FirstSemesterCoursesNd1[i].Semester.Name</td>
                                                                                                <td>@Html.DropDownListFor(m => m.FirstSemesterCoursesNd1[i].Grade, (IEnumerable<SelectListItem>)ViewData["fNd1Course" + i], new { @class = "form-control" })</td>
                                                                                                <td>@Html.CheckBoxFor(model => model.FirstSemesterCoursesNd1[i].IsRegistered, new { @type = "checkbox", @class = "checkAll1" })</td>
                                                                                                @if (Model.Level.Id != 1 && Model.Level.Id != 3)
                                                                                                {
                                                                                                    <td>@Html.CheckBoxFor(model => model.FirstSemesterCoursesNd1[i].isCarryOverCourse, new { @type = "checkbox", @class = "checkAllCarryOver1" })</td>
                                                                                                }

                                                                                            </tr>
                                                                                        }
                                                                                    </table>
                                                                                }

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel panel-primary">
                                                                        <div class="panel-heading" role="tab" id="headingTwo_1">
                                                                            <h4 class="panel-title">
                                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseTwo_1" aria-expanded="false"
                                                                                   aria-controls="collapseTwo_1">
                                                                                    @if (Model.Level.Id == (int)Levels.HNDII)
                                                                                    {
                                                                                        <span>HNDI Second Semester</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <span>NDI Second Semester</span>
                                                                                    }
                                                                                </a>
                                                                            </h4>
                                                                        </div>
                                                                        <div id="collapseTwo_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                                                                            <div class="panel-body">

                                                                                @if (Model.SecondSemesterCoursesNd1 != null && Model.SecondSemesterCoursesNd1.Count > 0)
                                                                                {
                                                                                    <h3>Second Semester</h3>
                                                                                    <hr />
                                                                                    <table class="table table-bordered table-hover table-striped table-responsive">
                                                                                        <tr>
                                                                                            <th>Sn</th>
                                                                                            <th>Department</th>
                                                                                            <th>Department Option</th>
                                                                                            <th>Level</th>
                                                                                            <th>Course Code</th>
                                                                                            <th>Course Name</th>
                                                                                            <th>Course Unit</th>
                                                                                            <th>Course Semester</th>
                                                                                            <th>Grade</th>
                                                                                            <th><input type="checkbox" id="CourseId2" onclick="CheckAll()" /> Select Course</th>
                                                                                            @if (Model.Level.Id != 1 && Model.Level.Id != 3)
                                                                                            {
                                                                                                <th><input type="checkbox" id="CarryOverId2" onclick="CheckAllCarryOver()" /> Carry Over</th>
                                                                                            }

                                                                                        </tr>
                                                                                        @for (int i = 0; i < Model.SecondSemesterCoursesNd1.Count; i++)
                                                                                        {
                                                                                            var sn = i + 1;
                                                                                            <tr>
                                                                                                @Html.HiddenFor(model => model.SecondSemesterCoursesNd1[i].Id)
                                                                                                @Html.HiddenFor(model => model.SecondSemesterCoursesNd1[i].Unit)
                                                                                                @Html.HiddenFor(model => model.SecondSemesterCoursesNd1[i].Code)
                                                                                                @Html.HiddenFor(model => model.SecondSemesterCoursesNd1[i].Name)
                                                                                                @Html.HiddenFor(model => model.SecondSemesterCoursesNd1[i].Semester.Id)

                                                                                                <td>@sn</td>
                                                                                                @if (Model.SecondSemesterCoursesNd1[i].Department != null)
                                                                                                {
                                                                                                    <td>@Model.SecondSemesterCoursesNd1[i].Department.Name</td>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <td></td>
                                                                                                }

                                                                                                @if (Model.SecondSemesterCoursesNd1[i].DepartmentOption != null)
                                                                                                {
                                                                                                    <td>@Model.SecondSemesterCoursesNd1[i].DepartmentOption.Name</td>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <td></td>
                                                                                                }
                                                                                                @if (Model.SecondSemesterCoursesNd1[i].Level != null)
                                                                                                {
                                                                                                    <td>@Model.SecondSemesterCoursesNd1[i].Level.Name</td>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <td></td>
                                                                                                }
                                                                                                <td>@Model.SecondSemesterCoursesNd1[i].Code</td>
                                                                                                <td>@Model.SecondSemesterCoursesNd1[i].Name</td>
                                                                                                <td>@Model.SecondSemesterCoursesNd1[i].Unit</td>
                                                                                                <td>@Model.SecondSemesterCoursesNd1[i].Semester.Name</td>
                                                                                                <td>@Html.DropDownListFor(m => m.SecondSemesterCoursesNd1[i].Grade, (IEnumerable<SelectListItem>)ViewData["sNd1Course" + i], new { @class = "form-control" })</td>
                                                                                                <td>@Html.CheckBoxFor(model => model.SecondSemesterCoursesNd1[i].IsRegistered, new { @type = "checkbox", @class = "checkAll2" })</td>
                                                                                                @if (Model.Level.Id != 1 && Model.Level.Id != 3)
                                                                                                {
                                                                                                    <td>@Html.CheckBoxFor(model => model.SecondSemesterCoursesNd1[i].isCarryOverCourse, new { @type = "checkbox", @class = "checkAllCarryOver2" })</td>
                                                                                                }

                                                                                            </tr>
                                                                                        }
                                                                                    </table>
                                                                                }

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Save" />
                                    </div> 
                                </div>
                            </div>
                        }

                        

                    </div>
                </div>
            </div>
        }
        
</div>





