﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.TranscriptProcessorViewModel
@{
    ViewBag.Title = "Transcript Requests";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Scripts {
    @*@Scripts.Render("~/bundles/jquery")*@

    @*<script type="text/javascript" src="~/Scripts/DataTables/datatables.js"></script>*@
    @*<script src="~/Scripts/DataTables/DataTables-1.10.15/js/jquery.dataTables.min.js"></script>*@
    <link href="~/Scripts/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/DataTables-1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/Buttons-1.3.1/js/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables/JSZip-3.1.3/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/pdfmake-0.1.27/build/pdfmake.js"></script>
    <script src="~/Scripts/DataTables/pdfmake-0.1.27/build/vfs_fonts.js"></script>
    <script src="~/Scripts/DataTables/Buttons-1.3.1/js/buttons.print.min.js"></script>
    <script src="~/Scripts/DataTables/Buttons-1.3.1/js/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables/Buttons-1.3.1/js/buttons.colVis.min.js"></script>
<script src="~/Scripts/jquery.print.js"></script>
    @*<script src="~/Scripts/jquery.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@

    <script>
        $(document).ready(function () {

            $(".statusDrop option[Value='1']").remove();
            $(".statusDrop option[Value='2']").remove();

            var dateFrom = $("#DateFrom").val();
            var dateTo = $("#DateTo").val();

            $('#table-request').DataTable({
                order: [[3, 'asc']],
                dom: 'Bfrtip',
                buttons: [
                       {
                           extend: 'print',
                           exportOptions: {
                               columns: [0, 1, 2, 3, 4, 5],
                               modifier: {
                                   orientation: 'landscape'
                               }
                           },
                           header: true,
                           orientation: 'landscape',
                           customize: function (doc) {
                               doc.defaultStyle.fontSize = 8; //<-- set fontsize to 16 instead of 10
                           },
                           title: 'Transcript Request(ND)',
                           message: "Transcript Requests From:  " + dateFrom + "  To:  " + dateTo
                       },
                        {
                            extend: 'excel',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5],
                                modifier: {
                                    orientation: 'landscape'
                                }
                            },
                            header: true,
                            orientation: 'landscape',
                            customize: function (doc) {
                                doc.defaultStyle.fontSize = 8; //<-- set fontsize to 16 instead of 10
                            },
                            title: 'Transcript Request(ND)',
                            message: "Transcript Requests From:  " + dateFrom + "  To:  " + dateTo
                        },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5],
                            modifier: {
                                orientation: 'landscape'
                            }
                        },
                        header: true,
                        orientation: 'landscape',
                        customize: function (doc) {
                            doc.defaultStyle.fontSize = 8; //<-- set fontsize to 16 instead of 10
                        },
                        title: 'Transcript Request(ND)',
                        message: "Transcript Requests From:  " + dateFrom + "  To:  " + dateTo
                    },
                    'colvis'
                ],
                columnDefs: [{
                    targets: [5],
                    visible: true,
                    "searchable": false
                }]
            });
            //$('#table-request').DataTable({
            //    dom: 'Bfrtip',
            //    buttons: [
            //        'copy', 'csv', 'excel', 'pdf', 'print',
            //        {
            //            exportOptions: {
            //                columns: ':visible'
            //            },

            //        },
            //         'colvis'
            //    ],
            //    "columnDefs": [
            //        {
            //            //"targets": [5],
            //           // "visible": true,
            //            //  "searchable": false
            //            targets: -1,
            //            visible: false
            //        }
            //    ]
            //});
            $("#aPrint").on('click', function () {
                $(".printable").print();
                return false;
            });
        });


        function getnewValue(val) {
            var dropdownChanged = val.id;
            var buttonId = document.getElementById(dropdownChanged).offsetParent.nextElementSibling.childNodes[0].id;
            var buttonUrl = document.getElementById(dropdownChanged).offsetParent.nextElementSibling.childNodes[0].href;

            var ur = buttonUrl + "&stat=" + val.value;
            document.getElementById(buttonId).href = ur;

        }

        function displayStatement(id) {
            if (id == undefined || id === "") {
                alert("Id is undefined.");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetUrl", "TranscriptProcessor")',
                dataType: 'json',
                data: { requestId: id, urlType: "statement" },
                beforeSend: function () {
                    $(".Load").show();
                },
                complete: function () {
                    $(".Load").hide();
                },
                success: function (result) {
                    if (result.IsError === false) {

                        if (result.Url == undefined || result.Url == "" || result.Url == " ") {
                            alert("This document was not uploaded.");
                        }
                        else {
                            $("#filePreview").attr('src', 'http://ndapplication.fpno.edu.ng' + result.Url);
                            $('#infoModal').modal('show');
                        }

                    } else {
                        alert(result.Message);
                    }
                },
                error: function (ex) {
                    alert('Operation failed.' + ex);
                }
            });
        }
        function displayAlumni(id) {
            if (id == undefined || id === "") {
                alert("Id is undefined.");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetUrl", "TranscriptProcessor")',
                dataType: 'json',
                data: { requestId: id, urlType: "alumni" },
                beforeSend: function () {
                    $(".Load").show();
                },
                complete: function () {
                    $(".Load").hide();
                },
                success: function (result) {
                    if (result.IsError === false) {

                        if (result.Url == undefined || result.Url == "" || result.Url == " ") {
                            alert("This document was not uploaded.");
                        }
                        else {
                            $("#filePreview").attr('src', 'http://ndapplication.fpno.edu.ng' + result.Url);
                            $('#infoModal').modal('show');
                        }
                    } else {
                        alert(result.Message);
                    }
                },
                error: function (ex) {
                    alert('Operation failed.' + ex);
                }
            });
        }

        function verifyRequest(id) {
            if (id == undefined || id === "") {
                alert("Id is undefined.");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("VerifyTranscriptRequest", "TranscriptProcessor")',
                dataType: 'json',
                data: { requestId: id },
                beforeSend: function () {
                    $(".Load").show();
                },
                complete: function () {
                    $(".Load").hide();
                },
                success: function (result) {
                    if (result.IsError === false) {

                        alert(result.Message);

                    } else {
                        alert(result.Message);
                    }
                },
                error: function (ex) {
                    alert('Operation failed.' + ex);
                }
            });
        }
    </script>
}


<div>
    @if (TempData["Message"] != null)
    {
        @Html.Partial("_Message", TempData["Message"])
    }
</div>

<div class="container" style="width: 100% !important; font-size: 12px">
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("TranscripRequestsHnd", "TranscriptProcessor", FormMethod.Post))
            {
                <h2>HND Transcript Requests</h2>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DateFrom, "Date From:", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control", type = "date", required = "required" })
                            @Html.ValidationMessageFor(model => model.DateFrom)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DateTo, "Date To:", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control", type = "date", required = "required" })
                            @Html.ValidationMessageFor(model => model.DateTo)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.transcriptRequest.Verified, "Verified:", new { @class = "control-label pull-left" }) &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.CheckBoxFor(model => model.transcriptRequest.VerificationStatus, new { @class = "pull-left" })
                            @Html.ValidationMessageFor(model => model.transcriptRequest.Verified)
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <button class="btn btn-default" type="submit" name="submit" id="submit">Search</button> &nbsp;
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Update Transcript Payments", "UpdateTranscriptRemitaPayment", null, new { @class = "btn btn-sm btn-danger-alt" })
                            }
                        </div>
                    </div>
                </div>
            }

            @if (Model.transcriptRequests != null && Model.transcriptRequests.Count > 0)
            {
                <h2>All Transcript Requests</h2>

                <div class="table-responsive">
                    <span style="display: none" class="Load"><img src="~/Content/Images/bx_loader.gif" /></span>
                    <table id="table-request" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Name</th>
                                <th>Matric Number</th>
                                <th>Department</th>
                                <th>Date Requested</th>
                                <th style="width: 150px">Destination</th>
                                <th>Status</th>
                                <th style="width: 80px">Select Status</th>
                                <th>Update Status</th>
                                <th>Statement of Result</th>
                                <th>Alumni Receipt</th>
                                <th>Verify</th>
                            </tr>
                        </thead>
                        <tbody style="color: black;">
                            @for (int i = 0; i < Model.transcriptRequests.Count; i++)
                            {
                                var sn = i + 1;
                                <tr>
                                    <td>@sn</td>
                                    <td>@Model.transcriptRequests[i].student.FullName.ToUpper()</td>
                                    <td>@Model.transcriptRequests[i].student.MatricNumber.ToUpper()</td>
                                    @if (!string.IsNullOrEmpty(Model.transcriptRequests[i].DepartmentName))
                                    {
                                        <td>@Model.transcriptRequests[i].DepartmentName</td>
                                    }
                                    else
                                    {
                                        <td>NIL</td>
                                    }
                                    <td>@Html.DisplayTextFor(m => m.transcriptRequests[i].DateRequested)</td>
                                    <td style="width: 150px">@Model.transcriptRequests[i].DestinationAddress</td>
                                    <td>@Html.DisplayTextFor(m => m.transcriptRequests[i].transcriptStatus.TranscriptStatusName)</td>
                                    <td style="width: 80px">@Html.DropDownListFor(m => m.transcriptRequests[i].transcriptStatus.TranscriptStatusId, (IEnumerable<SelectListItem>)ViewData["status" + i], new { @class = "form-control statusDrop", @onChange = "getnewValue(this)" })</td>
                                    <td>@Html.ActionLink("Update", "UpdateStatus", "TranscriptProcessor", new { tid = Model.transcriptRequests[i].Id }, new { @class = "btn btn-default", @id = "url" + i })</td>
                                    <td><button class="btn btn-primary" onclick="displayStatement(@Model.transcriptRequests[i].Id)">View</button></td>
                                    <td><button class="btn btn-primary" onclick="displayAlumni(@Model.transcriptRequests[i].Id)">View</button></td>
                                    <td><button class="btn btn-primary" onclick="verifyRequest(@Model.transcriptRequests[i].Id)">verified</button></td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            }
        </div>
    </div>

</div>



<div id="infoModal" role="dialog" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">File Preview</h4>
            </div>
            <div class="modal-body printable">
                <img id="filePreview" height="800px" width="500px" src="" />
            </div>
            <div class="modal-footer">
                <button id="aPrint" class="btn btn-default"><i class="fa fa-print mr5"></i> Print</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>