@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "PinRetrieval";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

@using (Html.BeginForm("PinRetrieval", "Support", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="col-md-12">


                <div class="panel panel-default ">
                    <div class="panel-body ">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h4>Pin Retrieval</h4>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ApplicationForm.Number, new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.ApplicationForm.Number, new { @class = "form-control", @placeholder = "Enter Application No" })
                                @Html.ValidationMessageFor(model => model.ApplicationForm.Number, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Search" />
                                <div class="btn btn-default">
                                    @Html.ActionLink("Back to Home", "Index", "Home", new { Area = "" }, null)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                 
            </div>
        </div>
    </div>


}

@if (Model == null && Model.EtranzactPins.Count <= 0) { return; }


<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12">
            @if (Model.EtranzactPins.Count > 0)
            {
                @Html.Grid(Model.EtranzactPins).Columns(columns =>
                    {

                        columns.Add(f => f.ConfirmationNo).Titled("Confirmation Number");
                        columns.Add(f => f.Payment.Payment.FeeType.Name).Titled("Payment Type").Sortable(true);
                        columns.Add(f => f.Terminal.TerminalId).Titled("Terminal ID").Sortable(true);
                        columns.Add(f => f.TransactionAmount).Titled("Amount").Sortable(true);
                        columns.Add(f => f.TransactionDate).Titled("Transaction Date").Sortable(true);
                        columns.Add(f => f.CustomerID).Titled("Invoice Number").Sortable(true);
                    }).WithPaging(15).Filterable(true)

            }
        </div>
    </div>
</div>