﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.AdmissionViewModel


<br />

<div style="margin-bottom:15px; text-align:justify">
    <blockquote>
        <p style="color:darkgreen; font-weight:bold">
            Congratulations! You have been given a Provisional Admission into Federal Polytechnic, Nekede
        </p>

        <small>This marks the first step of your admission process. Click on the <b>Generate Invoice</b> button below, to generate your invoice and print same by clicking the <b>Print Invoice</b> button. Then proceed to the bank for payment with the generated Invoice Number. Good Luck!<cite title="Source Title"></cite></small>
    </blockquote>
</div>

@*TempData.Keep("To")*@

<h3>Generate Acceptance Invoice</h3>

<div class="row">
    <div class="col-sm-12 ">
        <div class="well">
          

            <div class="form-group ">
                @Html.LabelFor(model => model.Payment.InvoiceNumber, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9" style="font-weight:bold">
                    @Html.DisplayFor(model => model.Payment.InvoiceNumber, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group ">
                <div class="col-sm-3 "></div>
                <div class="col-sm-9 ">
                    @if (Model.ApplicationForm.Remarks != null && Model.ApplicationForm.Remarks.Contains("UNREGISTERED"))
                    {
                        <div class="form-inline">
                            <div class="form-group">
                                @Html.ActionLink("Print Application Invoice", "UnregisteredPrintInvoice", "Form", new { Area = "Applicant", fid = Abundance_Nk.Web.Models.Utility.Encrypt(Model.ApplicationForm.Id.ToString()) }, new { @class = "btn btn-white btn-lg ", target = "_blank" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-inline">
                            <div class="form-group">
                                @*<button class="btn btn-success btn-metro mr5" type="button" name="btnGenerateAcceptanceInvoice" id="btnGenerateAcceptanceInvoice">Generate Invoice</button>*@
                                @Html.ActionLink("Generate Invoice", "GenerateAcceptanceInvoice", new { Controller = "Admission", Area = "Applicant" , applicationFormNo = Model.ApplicationForm.Number }, new {@class = "btn btn-success btn-metro mr5" })
                            </div>

                            <div class="form-group margin-bottom-0">
                                <div id="divProcessingAcceptanceInvoice" style="display: none">
                                    <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                    <span>Processing ...</span>
                                </div>
                            </div>
                        </div>
                    }
                    @*<div class="form-inline">
                        <div class="form-group">
                            <button class="btn btn-success btn-metro mr5" type="button" name="btnGenerateAcceptanceInvoice" id="btnGenerateAcceptanceInvoice">Generate Invoice</button>
                        </div>

                        <div class="form-group margin-bottom-0">
                            <div id="divProcessingAcceptanceInvoice" style="display:none">
                                <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                <span>Processing ...</span>
                            </div>
                        </div>
                    </div>*@

                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group margin-bottom-0">
                @Html.ActionLink("Print Admission Letter", "AdmissionLetter", "Credential", new { Area = "Common", fid = Abundance_Nk.Web.Models.Utility.Encrypt(Model.ApplicationForm.Id.ToString()) }, new { @class = "btn btn-white btn-lg ", target = "_blank", id = "alPrintAcceptanceReceipt" })
            </div>

            <div class="form-group  margin-bottom-0 divAcceptanceInvoice" style="display:none">
                <a id="aAcceptanceInvoiceNumber" href="#" target="_blank" class="btn btn-white btn-lg">Print Invoice</a>

            </div>
            @if (Model.AcceptanceInvoiceNumber != null && Model.Applicant.ApplicationForm.ProgrammeFee.Programme.Id == 5)
            {
                <div class="form-group margin-bottom-0 divAcceptanceInvoice" style="display:none">
                    @Html.ActionLink("Make Payment", "MakePayment", "Admission", new { PaymentId = Abundance_Nk.Web.Models.Utility.Encrypt(Model.AcceptanceInvoiceNumber.ToString()), formId = Abundance_Nk.Web.Models.Utility.Encrypt(Model.ApplicationForm.Id.ToString()) }, new { @class = "btn btn-white btn-lg", target = "_blank" })
                </div>
            }
           
        </div>

        <br />
        <div id="divAcceptanceInvoiceResult"></div>

    </div>
</div>
