﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.AdmissionViewModel

@{
    ViewBag.Title = "Invoice";
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/misc.css" rel="stylesheet" />

<br />

@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#aPrint").on('click', function () {
                $(".printable").print();
                return false;
            });

        });

    </script>
}

@if (TempData["Message"] != null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br />
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            </div>
        </div>
    </div>
}

@if (Model == null || Model.remitaPayment == null || Model.Person == null || Model.Payment == null || Model.ApplicationForm == null)
{
    return;
}

<div class="printable">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">

                        <h5 class="lg-title mb10 custom-text-black"><p class="custom-text-black">From</p></h5>

                        <div>
                            <p class="custom-text-black"><strong>@Model.Person.FullName</strong><br></p>
                            <p class="custom-text-black">
                                <abbr title="Phone">Email:</abbr> @Model.Person.Email
                                <br>
                            </p>
                            <p class="custom-text-black">
                                <abbr title="Phone">Phone:</abbr> @Model.Person.MobilePhone
                                <br />
                            </p>
                            <p class="custom-text-black">
                                <abbr title="Phone">Application Number:</abbr> @Model.ApplicationForm.Number
                                <br />
                            </p>
                            <br />

                        </div>
                    </div><!-- col-sm-6 -->

                    <div class="col-xs-6 text-right">
                        <h5 class="subtitle mb10"><p class="custom-text-black">Invoice No.</p></h5>
                        <h4 class="text-primary custom-text-black">@Model.Payment.InvoiceNumber</h4>

                        @if (Model.remitaPayment != null)
                        {
                            <h5 class="subtitle mb10">RRR No.</h5>
                            <h4 class="text-primary">@Model.remitaPayment.RRR</h4>
                        }


                        <h5 class="subtitle mb10 custom-text-black">To</h5>

                        <div>
                            <p class="custom-text-black">
                                <strong>The Federal Polytechnic, Nekede</strong><br>
                                P.M.B. 1036, Nekede, Imo State.<br>
                            </p>
                        </div>

                        <br />
                        <p class="custom-text-black"><strong>Invoice Date:</strong> @DateTime.Now.ToLongDateString()</p>

                    </div>
                </div><!-- row -->

                <div class="table-responsive">
                    <table class="table table-bordered table-dark table-invoice">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Unit Price (₦)</th>
                                <th>Total Price (₦)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h5><p class="custom-text-black">@Model.Payment.FeeType.Name</p></h5>
                                </td>
                                <td><p class="custom-text-black">1</p></td>
                                @*<td>@Model.ApplicationProgrammeFee.Fee.Amount</td>
                                    <td>@Model.ApplicationProgrammeFee.Fee.Amount</td>*@

                                <td><p class="custom-text-black">@Model.Payment.FeeDetails.Sum(p => p.Fee.Amount).ToString("n")</p></td>
                                <td><p class="custom-text-black">@Model.Payment.FeeDetails.Sum(p => p.Fee.Amount).ToString("n")</p></td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><a href=""></a></h5>
                                    <p></p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><a href=""></a></h5>
                                    <p> </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><a href=""></a></h5>
                                    <p></p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- table-responsive -->

                <table class="table table-total">
                    <tbody>
                        <tr>
                            <td class="custom-text-black">Sub Total:</td>
                            <td class="custom-text-black">@Model.Payment.FeeDetails.Sum(p => p.Fee.Amount).ToString("n")</td>
                            @*<td>@Model.ApplicationProgrammeFee.Fee.Amount</td>*@
                        </tr>
                        <tr>
                            <td class="custom-text-black">VAT:</td>
                            <td class="custom-text-black">0.00</td>
                        </tr>
                        <tr>
                            <td class="custom-text-black">TOTAL:</td>
                            <td class="custom-text-black">@Model.Payment.FeeDetails.Sum(p => p.Fee.Amount).ToString("n")</td>
                            @*<td>@Model.ApplicationProgrammeFee.Fee.Amount</td>*@
                        </tr>
                    </tbody>
                </table>


            </div><!-- panel-body -->
            <div class="well nomargin" style="margin:20px">
                Thank you for choosing our School.
            </div>

        </div><!-- panel -->
    </div>


</div>